<div class="mds-grid mds-grid-cols-1">
  <div class="mds-flex mds-gap-400">
    <mc-button label="small" (click)="onFitChanged('small')"></mc-button>
    <mc-button label="medium" (click)="onFitChanged('medium')"></mc-button>
    <mc-button label="large" (click)="onFitChanged('large')"></mc-button>
  </div>
  <div>
    <div class="layout--s layout--margin-32">
      <div>
        <h3>Table with aggregation in the footer</h3>

        <mc-table [fit]="fit" [columns]="customColumnsWithAggregatedFooter" [data]="dataStatic" footer>
          <div slot="name_footer">Total:</div>
          <div slot="length_footer">
            Sum: {{ format(sum(getDataForColumn(dataStatic, 'length')), { type: 'number' }) }}
          </div>
          <div slot="capacity_footer">
            Average: {{ format(average(getDataForColumn(dataStatic, 'capacity')), { type: 'number' }) }}
          </div>
        </mc-table>
      </div>
      <div>
        <h3>Table with header grouping</h3>

        <mc-table [fit]="fit" [columns]="customColumnsWithGrouping" [data]="dataStatic" verticallinestyle="solid">
        </mc-table>
      </div>
      <div>
        <h3>Table with number formatting</h3>

        <mc-table [fit]="fit" [columns]="customColumnsWithNumberFormatting" [data]="dataForNumberFormattingExample">
        </mc-table>
      </div>
      <div>
        <h3>Table with custom cells</h3>

        <mc-table [fit]="fit" [columns]="customColumnsSimple" [data]="dataStatic">
          <ng-container *ngFor="let row of dataStatic; let i = index">
            <div slot="{{ row.id }}_status">
              <svg *ngIf="i === 0" height="50" width="50">
                <circle cx="25" cy="25" r="5" fill="green" />
              </svg>
              <svg *ngIf="i !== 0" height="50" width="50">
                <circle cx="25" cy="25" r="5" fill="red" />
              </svg>
            </div>
            <div slot="{{ row.id }}_getQuote"><mc-button>Get Quote</mc-button></div>
          </ng-container>
        </mc-table>
      </div>
      <div>
        <h3>Table with row expansion</h3>

        <mc-table [fit]="fit" expand [columns]="customColumnsSimple" [data]="dataStatic">
          <ng-container *ngFor="let row of dataStatic; let i = index">
            <div *ngIf="i === 1" slot="{{ row.id }}_expanded">
              Row with datakey="{{ i }}" expanded content(datakey looks at "id" by default)
            </div>
            <div *ngIf="i === 2" slot="{{ row.id }}_expanded">
              Row with datakey="{{ i }}" expanded content(datakey looks at "id" by default)
            </div>
          </ng-container>
        </mc-table>
      </div>
      <div>
        <h3>Fifa ultimate clubs</h3>

        <mc-table
          [fit]="fit"
          [data]="apiData"
          (sortchange)="onSortChanged($any($event))"
          (selectchange)="onRowSelected($any($event))"
          (rowclick)="onRowClicked($any($event))"
        >
        </mc-table>

        <div class="pagination-wrapper">
          <mc-pagination [totalpages]="totalPages" visiblepages="7" (pagechange)="onPageChanged($event)" [fit]="fit">
          </mc-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
