@font-face {
  font-family: 'Maersk Text';
  src: url('https://assets.maerskline.com/sharedfonts/maeu/text/MaerskText-Regular.woff2');
}

:root {
  --mds_brand_typography_text_medium_normal_font-style: normal;
  --mds_brand_typography_text_medium_normal_font-weight: 400;
  --mds_brand_typography_text_medium_desktop_font-size: 16px;
  --mds_brand_typography_text_medium_desktop_line-height: 24px;
  --mds_brand_typography_text_small_desktop_font-size: 14px;
  --mds_brand_typography_text_small_desktop_line-height: 20px;
  --mds_brand_typography_text_font-family: 'Maersk Text';
  --mds_brand_typography_text_font-family-fallback: -apple-system, blinkmacsystemfont, 'Microsoft JhengHei',
    'Microsoft Yahei', 微软雅黑, stxihei, 华文细黑, sans-serif;
  --mds_global_border_width: 1px;
  --mds_global_border_style: solid;
  --mds_brand_border_medium_radius: 4px;
  --mds_global_transition_fast_duration: 0.2s;
  --mds_global_transition_fast_timing: ease-in-out;
  --mds_brand_appearance_neutral_default_background-color: rgb(255 255 255);
  --mds_brand_appearance_neutral_default_on-background-color: rgb(20 20 20);
  --mds_brand_appearance_neutral_default_text-color: rgb(20 20 20);
  --mds_brand_appearance_neutral_default_border-color: rgb(207 207 207);
  --mds_brand_appearance_neutral_weak_text-color: rgb(84 84 84);
  --mds_brand_appearance_neutral_weakest_text-color: rgb(118 118 118);
  --mds_brand_appearance_primary_default_background-color: rgb(0 36 61);
  --mds_brand_appearance_primary_default_on-background-color: rgb(255 255 255);
  --mds_brand_appearance_secondary_default_background-color: rgb(66 176 213);
  --mds_brand_appearance_state_neutral_default_hover_border-color: rgb(135 135 135);
  --mds_brand_appearance_state_neutral_default_hover_background-color: rgb(237, 237, 237);
  --mds_brand_appearance_state_focus_border-color: rgb(66 176 213);
  --mds_brand_appearance_warning_default_background-color: rgb(255, 208, 41);
  --mds_brand_appearance_state_focus_default_shadow_offset-x: 0;
  --mds_brand_appearance_state_focus_default_shadow_offset-y: 0;
  --mds_brand_appearance_state_focus_default_shadow_blur-radius: 0;
  --mds_brand_appearance_state_focus_default_shadow_spread-radius: 3px;
  --mds_brand_appearance_state_focus_default_shadow_color: rgb(181 224 245);
  --mds_brand_appearance_state_primary_default_hover_background-color: rgb(0, 61, 109);

  /* Medalia tokens overrides */
  --questions-spacing: 8px;
}

/* Medalia resets */
form main {
  flex: initial !important;
  overflow-y: hidden !important;
}

form main * {
  color: var(--mds_brand_appearance_neutral_default_text-color) !important;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: geometricprecision !important;
  font-style: var(--mds_brand_typography_text_medium_normal_font-style) !important;
  font-weight: var(--mds_brand_typography_text_medium_normal_font-weight) !important;
  font-size: var(--mds_brand_typography_text_medium_desktop_font-size) !important;
  line-height: var(--mds_brand_typography_text_medium_desktop_line-height) !important;
  font-family: var(--mds_brand_typography_text_font-family), var(--mds_brand_typography_text_font-family-fallback) !important;
}

footer > div {
  margin: 8px 0 16px 0 !important;
}

#survey-wrapper form {
  padding: 0;
}

*:focus-visible,
*:focus,
*:active,
*:hover,
*:hover * {
  box-shadow: none !important;
  outline: none !important;
}

ul li {
  border: 0 !important;
  margin-bottom: 0 !important;
}

/* Logo, header and line breaks */
div[data-aut*='component-sectionBreak'] div {
  color: var(--mds_brand_appearance_neutral_default_border-color) !important;
}

/* Input form elements general styles */
label {
  padding-bottom: 4px !important;
}

input,
textarea,
select {
  background-color: var(--mds_brand_appearance_neutral_default_background-color) !important;
  padding: 0 11px !important;
  border-color: var(--mds_brand_appearance_neutral_default_border-color) !important;
  border-radius: var(--mds_brand_border_medium_radius) !important;
  border-style: var(--mds_global_border_style) !important;
  border-width: var(--mds_global_border_width) !important;
  min-height: 38px !important;
}

textarea {
  padding: 11px !important;
}

div[data-aut*='component-textInput'] input + div span {
  font-size: var(--mds_brand_typography_text_small_desktop_font-size) !important;
  line-height: var(--mds_brand_typography_text_small_desktop_line-height) !important;
  color: var(--mds_brand_appearance_neutral_weak_text-color) !important;
}

div[data-aut*='component-textInput'] input + div div {
  display: none !important;
}

select + i {
  border: solid var(--mds_brand_appearance_neutral_weakest_text-color) !important;
  border-width: 0 var(--mds_global_border_width) var(--mds_global_border_width) 0 !important;
}

div[data-aut*='component-radio'] > span,
div[data-aut*='component-checkbox'] > span {
  display: flex !important;
}

div[data-aut*='component-radio'] .group div,
div[data-aut*='component-checkbox'] .group div {
  border: 0 !important;
}

div[data-aut*='component-radio'] .group div label,
div[data-aut*='component-checkbox'] .group div label {
  gap: 8px !important;
}

div[data-aut*='component-radio'] .group div label span,
div[data-aut*='component-checkbox'] .group div label span {
  margin: 0;
  width: 100%;
}

div[data-aut*='component-radio'] .group div label span:first-of-type,
div[data-aut*='component-checkbox'] .group div label span:first-of-type {
  width: 24px;
  flex-grow: 1;
}

div[data-aut*='component-radio'] .group div label span:first-of-type::before,
div[data-aut*='component-checkbox'] .group div label span:first-of-type::before {
  border: var(--mds_global_border_width) var(--mds_global_border_style)
    var(--mds_brand_appearance_neutral_default_border-color) !important;
}

div[data-aut*='component-radio'] .group div input:checked + label span::before,
div[data-aut*='component-checkbox'] .group div input:checked + label span::before {
  background-color: var(--mds_brand_appearance_primary_default_background-color) !important;
}

div[data-aut*='component-radio'] .group div label span:first-of-type::before,
div[data-aut*='component-radio'] .group div label span:first-of-type::after {
  top: 14px !important;
}

div[data-aut*='component-checkbox'] .group div label span:first-of-type::after {
  top: 11px !important;
}

/* Submit buttons */
footer button[type='submit'],
footer button[data-aut*='button-close'] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  box-sizing: border-box;
  border-style: var(--mds_global_border_style) !important;
  border-width: var(--mds_global_border_width) !important;
  border-radius: var(--mds_brand_border_medium_radius) !important;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition-duration: var(--mds_global_transition_fast_duration) !important;
  transition-property: all !important;
  transition-timing-function: var(--mds_global_transition_fast_timing) !important;
  height: auto !important;
  padding: 7px 15px !important;
  width: auto !important;
}

footer button[type='submit'] {
  background-color: var(--mds_brand_appearance_primary_default_background-color) !important;
  border-color: transparent !important;
  color: var(--mds_brand_appearance_primary_default_on-background-color) !important;
}
footer button[type='submit']:hover {
  background-color: var(--mds_brand_appearance_state_primary_default_hover_background-color) !important;
}

footer button[data-aut*='button-close'] {
  background-color: var(--mds_brand_appearance_neutral_default_background-color) !important;
  border-color: var(--mds_brand_appearance_neutral_default_border-color) !important;
  color: var(--mds_brand_appearance_neutral_default_on-background-color) !important;
}
footer button[data-aut*='button-close']:hover {
  background-color: var(--mds_brand_appearance_state_neutral_default_hover_background-color) !important;
  border-color: var(--mds_brand_appearance_neutral_default_border-color) !important;
}

footer div[dir='ltr'] {
  display: none !important;
}
/* Form elements hover & focus styles */
input:hover,
textarea:hover,
select:hover,
.group div:hover input + label span::before {
  border-color: var(--mds_brand_appearance_state_neutral_default_hover_border-color) !important;
}

input:focus,
textarea:focus,
select:focus,
.group div input:focus + label span::before {
  outline: none;
  border-color: var(--mds_brand_appearance_state_focus_border-color) !important;
  box-shadow: var(--mds_brand_appearance_state_focus_default_shadow_offset-x)
    var(--mds_brand_appearance_state_focus_default_shadow_offset-y)
    var(--mds_brand_appearance_state_focus_default_shadow_blur-radius)
    var(--mds_brand_appearance_state_focus_default_shadow_spread-radius)
    var(--mds_brand_appearance_state_focus_default_shadow_color) !important;
}

/* Ratings smileys */
div[data-aut*='component-grading'] > div {
  flex-direction: column;
}

div[data-aut*='component-grading'] div[role='radiogroup'] {
  min-width: auto !important;
  margin-top: 0 !important;
  flex-wrap: nowrap !important;
}

div[data-aut*='component-grading'] label {
  padding: 0 0 12px 0 !important;
}

div[data-aut*='component-grading'] div[role='radiogroup'] > div {
  margin: 0 !important;
}

div[data-aut*='component-grading'] div div[role='radiogroup'] div {
  margin: 0 6px !important;
}

@media only screen and (max-width: 599px) {
  div[data-aut*='component-grading'] div div[role='radiogroup'] div {
    margin: 0 8px !important;
  }
}

div[data-aut*='component-grading'] div[role='radiogroup'] input {
  min-width: 34px !important;
  min-height: 34px !important;
  width: 34px !important;
  height: 34px !important;
  cursor: pointer !important;
}

div[data-aut*='component-grading'] div div p {
  font-size: var(--mds_brand_typography_text_small_desktop_font-size) !important;
  line-height: var(--mds_brand_typography_text_small_desktop_line-height) !important;
  color: var(--mds_brand_appearance_neutral_weak_text-color) !important;
  width: 64px !important;
  flex: 0;
}

div[data-aut*='component-grading'] div[role='radiogroup'] svg {
  min-width: 24px !important;
  min-height: 24px !important;
}

/* default */
div[data-aut*='component-grading'] div[role='radiogroup'] div svg {
  background-color: transparent !important;
}
div[data-aut*='component-grading'] div[role='radiogroup'] div svg path {
  fill: var(--mds_brand_appearance_neutral_weakest_text-color) !important;
}
/* hover */
div[data-aut*='component-grading'] div[role='radiogroup'] div:hover svg {
  background-color: transparent !important;
}
div[data-aut*='component-grading'] div[role='radiogroup'] div:hover svg path {
  fill: var(--mds_brand_appearance_neutral_default_text-color) !important;
}
/* selected */
div[data-aut*='component-grading'] div[role='radiogroup'] div:nth-last-child(1 of ._1YsDAuTgzg-TJThBFYa0LN) svg,
div[data-aut*='component-grading'] div[role='radiogroup'] div:hover:nth-last-child(1 of ._1YsDAuTgzg-TJThBFYa0LN) svg {
  background-color: var(--mds_brand_appearance_warning_default_background-color) !important;
}
div[data-aut*='component-grading'] div[role='radiogroup'] div:nth-last-child(1 of ._1YsDAuTgzg-TJThBFYa0LN) svg path,
div[data-aut*='component-grading']
  div[role='radiogroup']
  div:hover:nth-last-child(1 of ._1YsDAuTgzg-TJThBFYa0LN)
  svg
  path {
  fill: var(--mds_brand_appearance_neutral_default_text-color) !important;
}

/* Ratings 0 - 10 */
div[data-aut*='component-grading0to10'] div[role='radiogroup'] {
  min-width: auto !important;
  margin-top: 0 !important;
  flex-wrap: nowrap !important;
}

div[data-aut*='component-grading0to10'] div[role='radiogroup'] > div {
  margin: 0 !important;
  min-width: 34px !important;
  min-height: 34px !important;
  width: 34px !important;
  height: 34px !important;
  border: 1px solid var(--mds_brand_appearance_neutral_default_border-color) !important;
  cursor: pointer !important;
}

div[data-aut*='component-grading0to10'] div[role='radiogroup'] > div p {
  margin-top: -2px !important;
  color: var(--mds_brand_appearance_neutral_weakest_text-color) !important;
}

div[data-aut*='component-grading0to10'] div[role='radiogroup'] input {
  min-width: 34px !important;
  min-height: 34px !important;
  width: 34px !important;
  height: 34px !important;
}

div[data-aut*='component-grading0to10'] div[role='radiogroup'] div._1YsDAuTgzg-TJThBFYa0LN {
  border-color: var(--mds_brand_appearance_secondary_default_background-color) !important;
  background-color: transparent !important;
}

div[data-aut*='component-grading0to10'] div[role='radiogroup'] div._1YsDAuTgzg-TJThBFYa0LN p {
  color: var(--mds_brand_appearance_secondary_default_background-color) !important;
}

div[data-aut*='component-grading0to10'] div div p {
  font-size: var(--mds_brand_typography_text_small_desktop_font-size) !important;
  line-height: var(--mds_brand_typography_text_small_desktop_line-height) !important;
  color: var(--mds_brand_appearance_neutral_weak_text-color) !important;
  width: 64px !important;
  flex: 0;
}

div[data-aut*='component-grading0to10'] div div[role='radiogroup'] div {
  margin: 0 2px !important;
}
