/* Base styles */

/* The code from base.css will be injected here. Don't change anything in lines 1-3 */

/* End base styles */

/* Left aligned layout styles */

/* Logo, header and line breaks */
div[data-aut*='component-image'] div {
  text-align: left;
}

/* Input form elements general styles */
div[data-aut*='component-radio'] .group,
div[data-aut*='component-checkbox'] .group {
  justify-content: flex-start;
}

/* Ratings smileys */
div[data-aut*='component-grading'] div[role='radiogroup'] {
  width: calc(40px * 5) !important;
}

div[data-aut*='component-grading'] div div:not([role='radiogroup']) {
  width: calc(37px * 5) !important;
  min-width: auto !important;
}

/* Ratings 0 - 10 */
div[data-aut*='component-grading0to10'] div[role='radiogroup'] {
  width: calc(40px * 10) !important;
}

div[data-aut*='component-grading0to10'] div div:not([role='radiogroup']) {
  width: 100% !important;
  min-width: auto !important;
}

/* footer */
footer div:first-of-type {
  justify-content: left !important;
}
