<div class="mds-layout">
  <mc-top-bar product="SPA Angular" productshort="Angular"
    ><a slot="link" routerLink="/home" routerLinkActive="active">Home</a></mc-top-bar
  >
  <mc-side-bar>
    <nav role="navigation">
      <ol>
        <li><a routerLink="/form" routerLinkActive="active">Form</a></li>
        <li><a routerLink="/content" routerLinkActive="active">Content</a></li>
        <li><a routerLink="/table" routerLinkActive="active">Table</a></li>
        <li><a routerLink="/typeahead" routerLinkActive="active">Typeahead</a></li>
        <li><a routerLink="/typeahead-multiselect" routerLinkActive="active">Typeahead Multiselect</a></li>
        <li><a routerLink="/validation" routerLinkActive="active">Validation</a></li>
        <li><a routerLink="/select" routerLinkActive="active">Select</a></li>
        <li><a routerLink="tabbar" routerLinkActive="active">Tab Bar</a></li>
        <li><a [routerLink]="['/tabbarrouter', 1]" routerLinkActive="active">Tab Bar with Router</a></li>
        <li>
          <a [routerLink]="['/paginationrouter', 5]" routerLinkActive="active">Pagination with Router</a>
        </li>
        <li>
          <a [routerLink]="['/menurouter', 1]" routerLinkActive="active">Menu with Router</a>
        </li>
        <li>
          <a [routerLink]="['/buttongrouprouter', 1]" routerLinkActive="active">Button group with Router</a>
        </li>
        <li>
          <a [routerLink]="['/segmentedcontrolrouter', 1]" routerLinkActive="active">Segmented control with Router</a>
        </li>
      </ol>
    </nav>
  </mc-side-bar>
  <router-outlet></router-outlet>
</div>
