<div class="mds-grid mds-grid-cols-1">
  <mc-typeahead
    name="countryBorn"
    id="countryBorn"
    class="field"
    label="Which country were you born"
    placeholder="Start typing country name"
    [data]="countriesBorn"
  ></mc-typeahead>
  <mc-typeahead
    name="cityBorn"
    id="cityBorn"
    class="field"
    label="Which city were you born"
    disablefilter
    placeholder="Start typing city name"
    [loading]="loadingBorn"
    [data]="citiesBorn"
    (search)="onSearchCitiesBorn($event)"
  ></mc-typeahead>
  <mc-typeahead
    name="countryLiving"
    id="countryLiving"
    class="field"
    label="Which country do you currently live"
    placeholder="Start typing country name"
  >
    <mc-option *ngFor="let country of countriesLiving" [value]="country.value">
      {{ country.label }}
    </mc-option>
  </mc-typeahead>
  <mc-typeahead
    name="cityLiving"
    id="cityLiving"
    class="field"
    label="Which city do you currently live"
    disablefilter
    placeholder="Start typing city name"
    [loading]="loadingLiving"
    (search)="onSearchCitiesLiving($event)"
  >
    <mc-option *ngFor="let city of citiesLiving" [value]="city.value">
      {{ city.label }}
    </mc-option>
  </mc-typeahead>
  <br />
  <br />
  <mc-typeahead label="Using observable" clearbutton disablefilter="true" (input)="search($any($event.target).value)">
    <mc-option *ngFor="let option of options$ | async" [value]="option">
      {{ option }}
    </mc-option>
  </mc-typeahead>
  <br />
  <br />
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <mc-typeahead formControlName="number" ngDefaultControl label="Typeahead in a form" clearbutton>
      <mc-option *ngFor="let option of numberOptions" [value]="option.value">
        {{ option.label }}
      </mc-option>
    </mc-typeahead>
    <mc-button (click)="patchNumber()" appearance="neutral">Patch number</mc-button>
    <mc-button type="submit">Submit</mc-button>
  </form>
</div>
