.mds .mds-layout footer {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(207, 207, 207, 1);
  padding: 8px;
  margin-top: 36px;
}

.mds .mds-page {
  padding-top: 36px;
}
