<div class="mds-grid mds-grid-cols-1">
  <form [formGroup]="form">
    <mc-select ngDefaultControl formControlName="columnId" label="MC select" placeholder="Select" name="column-id">
      <mc-option *ngFor="let column of columns" [value]="column.columnId">
        {{ column.name }}
      </mc-option>
    </mc-select>
    <br />

    <label for="native-select">Native select</label>
    <select id="native-select" formControlName="columnId">
      <option *ngFor="let column of columns" [value]="column.columnId">
        {{ column.name }}
      </option>
    </select>
    <br />
    <br />
    <mc-menu *ngIf="showMenu">
      <mc-button slot="trigger" appearance="neutral" variant="outlined" icon="sliders-horizontal">Filters</mc-button>
      <div class="mc-menu__content">
        <mc-checkbox-group legend="Facility type">
          <mc-checkbox name="facility" value="Maersk Sorting" label="Maersk Sorting"></mc-checkbox>
          <mc-checkbox name="facility" value="Partner Sorting" label="Partner Sorting"></mc-checkbox>
          <mc-checkbox name="facility" value="Last Mile Carrier" label="Last Mile Carrier"></mc-checkbox>
          <mc-checkbox name="facility" value="Maersk Fulfillment" label="Maersk Fulfillment"></mc-checkbox>
          <mc-checkbox name="facility" value="Customs Broker" label="Customs Broker"></mc-checkbox>
        </mc-checkbox-group>
        <hr />
        <mc-select label="Country" placeholder="Type to search the options">
          <mc-option *ngFor="let country of countries" [value]="country.id" [label]="country.name"></mc-option>
        </mc-select>
      </div>
    </mc-menu>
  </form>
</div>
