@mixin link--default($underline: true) {
  & {
    color: var(--mdt-theme-on-background-color-link);

    &:hover {
      color: var(--mdt-theme-on-background-color-link-hover);

      @if $underline == true {
        text-decoration: none;
      } @else {
        text-decoration: underline;
      }
    }
  }

  @if $underline == true {
    & {
      text-decoration: underline;
    }
  } @else {
    & {
      text-decoration: none;
    }
  }
}
