.background {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  opacity: 0;
  transition: var(--mdt-core-transition-medium);

  &--loaded {
    opacity: 0.99;
  }

  .cover {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
  }
}
