.p-page__hero {
  $p: &;
  --color-white: rgb(255, 255, 255);
  background-color: var(--mdt-theme-background-color);

  &__wrapper {
    position: relative;
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 3px;
    text-indent: -6000px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    border-radius: var(--mdt-theme-hero-border-radius);
    overflow: hidden;
    display: none;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--color-white);
      transform-origin: 0 0;
      animation: loading 1s infinite;
    }
  }

  #{&}--loading &__loading {
    display: block;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    color: var(--mdt-theme-on-background-color-link);
  }

  &__content {
    position: relative;
    padding: spacing(8) spacing(4);
    max-width: $layout__max-width;
    margin: 0 auto;
  }

  &__table {
    display: table;
    width: 100%;
  }

  &__cell {
    display: table-cell;
    vertical-align: middle;
    height: var(--mdt-theme-hero-cell-height-xs) - (spacing(8) * 2);
  }

  &__copy {
    transition: var(--mdt-core-transition-medium);
    &--updating {
      opacity: 0;
    }
  }

  .button-group {
    margin: 0;
  }

  @media (min-width: breakpoint(7)) {
    &__content {
      padding: spacing(8) spacing(6);
    }

    &__col--1 {
      width: 50%;
    }
  }

  @media (min-width: breakpoint(10)) {
    &__content {
      padding: spacing(16) spacing(6);
    }

    &__cell {
      height: var(--mdt-theme-hero-cell-height-sm) - (spacing(16) * 2);
    }

    .button-group {
      margin-top: spacing(2);
    }
  }

  // center aligned
  @media (min-width: breakpoint(7)) {
    &--centered &__col--1 {
      margin: 0 auto;
    }
  }

  &--text-centered &__col--1 {
    text-align: center;
  }

  // right aligned
  @media (min-width: breakpoint(7)) {
    &--right &__col--1 {
      margin-left: auto;
    }
  }

  // --with--nav
  &--xl &__cell {
    @media (min-width: breakpoint(7)) {
      height: var(--mdt-theme-xl-hero-cell-height-sm) - (spacing(8) * 2);
    }
    @media (min-width: breakpoint(10)) {
      height: var(--mdt-theme-xl-hero-cell-height-md) - (spacing(16) * 2);
    }
    @media (min-width: breakpoint(13)) {
      height: var(--mdt-theme-xl-hero-cell-height-lg) - (spacing(16) * 2);
    }
  }

  &--with--search &__cell {
    height: auto;
  }

  &--with--search &__col--1 {
    @media (min-width: breakpoint(7)) {
      width: 90%;
    }
    @media (min-width: breakpoint(10)) {
      width: 66.66%;
    }
    @media (min-width: breakpoint(13)) {
      width: 50%;
    }
  }

  &__products {
    $pr: &;
    margin-top: spacing(10);
    text-align: center;
    @extend %clearfix;

    &__link {
      display: inline-block;
      vertical-align: top;
      margin: 0 spacing(2);
      width: 185px;
      height: 150px;

      &:hover {
        #{$pr}__icon {
          transform: scale(1.1);
        }
      }

      @include link--default($underline: false);
    }

    &__icon {
      width: 72px;
      margin: 0 auto;
      margin-bottom: spacing(3);
      transition: var(--mdt-core-transition);
    }

    &__label {
      @extend .mds-font--default--bold;
    }
  }

  @media (max-width: breakpoint(7, -1)) {
    &__products {
      &__link {
        float: left;
        width: 50%;
        margin: 0;
      }
    }
  }
  @media (min-width: breakpoint(10)) {
    &__products {
      &__link {
        width: 185px;
        height: 150px;
      }

      &__icon {
        width: 96px;
        margin: 0 auto;
        margin-bottom: spacing(3);
      }
    }
  }

  &__query {
    width: 100%;
    margin: spacing(6) auto 0 auto;

    @media (min-width: breakpoint(7)) {
      max-width: 90%;
    }

    @media (min-width: breakpoint(10)) {
      max-width: 66.66%;
    }

    @media (min-width: breakpoint(13)) {
      max-width: 50%;
    }

    &__all {
      display: block;
      margin-top: spacing(3);

      @include link--default($underline: false);
      @extend .mds-font--default--bold;
    }
  }
}
