.media-image {
  $p: &;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);

  margin: 0;
  display: block;

  &__placeholder {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: aspect-ratio(4, 3);
  }

  &--1x1 #{$p}__placeholder {
    padding-top: aspect-ratio(1, 1);
  }

  &--2x1 #{$p}__placeholder {
    padding-top: aspect-ratio(2, 1);
  }

  &--3x2 #{$p}__placeholder {
    padding-top: aspect-ratio(3, 2);
  }

  &--16x9 #{$p}__placeholder {
    padding-top: aspect-ratio(16, 9);
  }

  &--16x10 #{$p}__placeholder {
    padding-top: aspect-ratio(16, 10);
  }

  &__loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--loading #{$p}__loading {
    display: block;
  }

  &__caption {
    @extend .mds-font--small;
    color: rgba(0, 0, 0, 0.5);
    margin-top: spacing(2);
    text-decoration: none;
  }

  &__video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
    color: var(--color-white);
    transition: var(--mdt-core-transition);
    display: none;

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: var(--mdt-theme-media-image-video-icon-border);
      background-color: var(--mdt-theme-media-image-video-icon-background-color);
      width: var(--mdt-theme-media-image-video-icon-width);
      height: var(--mdt-theme-media-image-video-icon-height);
      line-height: 38px;
      text-align: center;
      transition: var(--mdt-core-transition);
      border-radius: var(--mdt-core-border-radius-m);
    }
  }

  &--loaded &__video {
    display: block;
  }

  &__link {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &:hover #{$p}__video,
    &:focus #{$p}__video {
      color: var(--color-white);

      &__icon {
        border-color: var(--color-white);
        background-color: var(--color-black);
      }
    }
  }

  &__asset {
    max-width: 100%;
    height: auto;
    display: block;
    transition: var(--mdt-core-transition);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    // because ie9/10 don't scale svgs correctly
    &[src*='.svg'] {
      width: 100%;
    }

    &--loaded {
      opacity: 1;
    }
  }

  &--loaded &__asset {
    opacity: 1;
  }

  &--shadow {
    #{$p}__asset {
      box-shadow: var(--mdt-theme-box-shadow-s);
    }
  }
}

a {
  &:hover,
  &:focus {
    .media-image {
      &__video {
        color: var(--color-white);

        &__icon {
          border-color: var(--color-white);
          background-color: var(--color-black);
        }
      }
    }
  }
}
