@mixin section--spacing($s, $m, $l) {
  &__child {
    & + & {
      margin-top: spacing($m);
    }

    & + &--small {
      margin-top: spacing($s);
    }

    & + &--medium {
      margin-top: spacing($m);
    }

    & + &--large {
      margin-top: spacing($l);
    }
  }
}

@mixin section--padding($s1, $s2, $m1, $m2, $l1, $l2, $xl1, $xl2) {
  padding: spacing($m1) spacing($m2);

  &--small {
    padding: spacing($s1) spacing($s2);
  }

  &--medium {
    padding: spacing($m1) spacing($m2);
  }

  &--large {
    padding: spacing($l1) spacing($l2);
  }

  &--xl {
    padding: spacing($xl1) spacing($xl2);
  }
}

.p-page__section {
  --color-white: rgb(255, 255, 255);
  position: relative;
  background: var(--mdt-theme-background-color);

  &__outer {
    position: relative;
  }

  &__inner {
    max-width: $layout__max-width;
    margin: 0 auto;

    @include section--padding($s1: 4, $s2: 4, $m1: 6, $m2: 4, $l1: 6, $l2: 4, $xl1: 8, $xl2: 4);

    @media (min-width: breakpoint(7)) {
      @include section--padding($s1: 4, $s2: 6, $m1: 6, $m2: 6, $l1: 6, $l2: 6, $xl1: 8, $xl2: 6);
    }

    @media (min-width: breakpoint(10)) {
      @include section--padding($s1: 6, $s2: 6, $m1: 8, $m2: 6, $l1: 12, $l2: 6, $xl1: 16, $xl2: 6);
    }

    &--none {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  // if you have adjacent sections with the same theme, you can use this to normalise the padding between them
  &--no-padding-top &__inner {
    padding-top: 0;
  }

  // to manage vertical spacing
  @include section--spacing($s: 4, $m: 6, $l: 8);

  @media (min-width: breakpoint(10)) {
    @include section--spacing($s: 6, $m: 8, $l: 12);
  }

  &--border-top {
    border-top: spacing(1) solid var(--color-white);
  }
}

// experince editor specific
.experience-editor {
  .p-page__section {
    &__child {
      margin-top: spacing(8);

      &--small {
        margin-top: spacing(6);
      }

      &--medium {
        margin-top: spacing(8);
      }

      &--large {
        margin-top: spacing(12);
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
