:root {
  --mdt-core-border-radius-xxl: 20px;
  --mdt-core-border-radius-s: 3px;
  --mdt-core-border-radius-m: 4px;
  --mdt-core-border-radius-l: 6px;
  --mdt-core-border-width: 1px;
  --mdt-core-border-style: solid;
  --mdt-core-element-width-s: 20px;
  --mdt-core-element-width-m: 24px;
  --mdt-core-element-height-s: 20px;
  --mdt-core-element-height-m: 24px;
  --mdt-core-input-field-height-s: 32px;
  --mdt-core-input-field-height-m: 40px;
  --mdt-core-modal-width-s: 400px;
  --mdt-core-modal-height-s: 225px;
  --mdt-core-modal-width-m: 800px;
  --mdt-core-modal-height-m: 400px;
  --mdt-core-modal-width-l: 1200px;
  --mdt-core-modal-height-l: 600px;
  --mdt-core-modal-min-height-s: 50px;
  --mdt-core-modal-min-height-m: 100px;
  --mdt-core-modal-min-height-l: 200px;
  --mdt-core-spacing-1px: 1px;
  --mdt-core-spacing-2px: 2px;
  --mdt-core-spacing-3px: 3px;
  --mdt-core-spacing-4px: 4px;
  --mdt-core-spacing-5px: 5px;
  --mdt-core-spacing-6px: 6px;
  --mdt-core-spacing-7px: 7px;
  --mdt-core-spacing-8px: 8px;
  --mdt-core-spacing-9px: 9px;
  --mdt-core-spacing-10px: 10px;
  --mdt-core-spacing-11px: 11px;
  --mdt-core-spacing-12px: 12px;
  --mdt-core-spacing-13px: 13px;
  --mdt-core-spacing-14px: 14px;
  --mdt-core-spacing-15px: 15px;
  --mdt-core-spacing-16px: 16px;
  --mdt-core-spacing-17px: 17px;
  --mdt-core-spacing-18px: 18px;
  --mdt-core-spacing-19px: 19px;
  --mdt-core-spacing-20px: 20px;
  --mdt-core-spacing-22px: 22px;
  --mdt-core-spacing-23px: 23px;
  --mdt-core-spacing-24px: 24px;
  --mdt-core-spacing-26px: 26px;
  --mdt-core-spacing-28px: 28px;
  --mdt-core-spacing-30px: 30px;
  --mdt-core-spacing-32px: 32px;
  --mdt-core-spacing-33px: 33px;
  --mdt-core-spacing-34px: 34px;
  --mdt-core-spacing-36px: 36px;
  --mdt-core-spacing-38px: 38px;
  --mdt-core-spacing-39px: 39px;
  --mdt-core-spacing-40px: 40px;
  --mdt-core-spacing-42px: 42px;
  --mdt-core-spacing-44px: 44px;
  --mdt-core-spacing-46px: 46px;
  --mdt-core-spacing-47px: 47px;
  --mdt-core-spacing-48px: 48px;
  --mdt-core-spacing-56px: 56px;
  --mdt-core-spacing-64px: 64px;
  --mdt-core-transition-duration: 0.20s;
  --mdt-core-transition-duration-medium: 0.50s;
  --mdt-core-transition-delay: 0.00s;
  --mdt-core-transition-timing-function: ease-in-out;
  --mdt-core-transition: all 0.20s ease-in-out;
  --mdt-core-transition-medium: all 0.50s ease-in-out;
  --mdt-brand-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font-family-display: "Maersk Headline", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font-weight-bold: 700;
  --mdt-brand-font-weight-regular: 400;
  --mdt-brand-font-weight-light: 300;
  --mdt-brand-font-weight-400: 400;
  --mdt-brand-font-weight-700: 700;
  --mdt-brand-font-size-xs: 12px;
  --mdt-brand-font-size-s: 14px;
  --mdt-brand-font-size-m: 16px;
  --mdt-brand-font-size-l: 16px;
  --mdt-brand-font-size-xl: 20px;
  --mdt-brand-font-line-height-xs: 16px;
  --mdt-brand-font-line-height-s: 20px;
  --mdt-brand-font-line-height-m: 24px;
  --mdt-brand-font-line-height-input-s: 18px;
  --mdt-brand-font-line-height-input-m: 22px;
  --mdt-brand-font--display-5-font-family: "Maersk Headline", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--display-5-font-size: 80px;
  --mdt-brand-font--display-5-font-style: normal;
  --mdt-brand-font--display-5-font-weight: 700;
  --mdt-brand-font--display-5-font-letter-spacing: 0;
  --mdt-brand-font--display-5-font-line-height: 80px;
  --mdt-brand-font--display-5-font-family-mobile: "Maersk Headline", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--display-5-font-size-mobile: 56px;
  --mdt-brand-font--display-5-font-style-mobile: normal;
  --mdt-brand-font--display-5-font-weight-mobile: 700;
  --mdt-brand-font--display-5-font-letter-spacing-mobile: 0;
  --mdt-brand-font--display-5-font-line-height-mobile: 56px;
  --mdt-brand-font--display-4-font-family: "Maersk Headline", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--display-4-font-size: 50px;
  --mdt-brand-font--display-4-font-style: normal;
  --mdt-brand-font--display-4-font-weight: 700;
  --mdt-brand-font--display-4-font-letter-spacing: 0;
  --mdt-brand-font--display-4-font-line-height: 56px;
  --mdt-brand-font--display-4-font-family-mobile: "Maersk Headline", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--display-4-font-size-mobile: 38px;
  --mdt-brand-font--display-4-font-style-mobile: normal;
  --mdt-brand-font--display-4-font-weight-mobile: 700;
  --mdt-brand-font--display-4-font-letter-spacing-mobile: 0;
  --mdt-brand-font--display-4-font-line-height-mobile: 38px;
  --mdt-brand-font--display-3-font-family: "Maersk Headline", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--display-3-font-size: 40px;
  --mdt-brand-font--display-3-font-style: normal;
  --mdt-brand-font--display-3-font-weight: 700;
  --mdt-brand-font--display-3-font-letter-spacing: 0;
  --mdt-brand-font--display-3-font-line-height: 40px;
  --mdt-brand-font--display-3-font-family-mobile: "Maersk Headline", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--display-3-font-size-mobile: 26px;
  --mdt-brand-font--display-3-font-style-mobile: normal;
  --mdt-brand-font--display-3-font-weight-mobile: 700;
  --mdt-brand-font--display-3-font-letter-spacing-mobile: 0;
  --mdt-brand-font--display-3-font-line-height-mobile: 32px;
  --mdt-brand-font--display-2-font-family: "Maersk Headline", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--display-2-font-size: 26px;
  --mdt-brand-font--display-2-font-style: normal;
  --mdt-brand-font--display-2-font-weight: 700;
  --mdt-brand-font--display-2-font-letter-spacing: 0;
  --mdt-brand-font--display-2-font-line-height: 32px;
  --mdt-brand-font--display-2-font-family-mobile: "Maersk Headline", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--display-2-font-size-mobile: 22px;
  --mdt-brand-font--display-2-font-style-mobile: normal;
  --mdt-brand-font--display-2-font-weight-mobile: 700;
  --mdt-brand-font--display-2-font-letter-spacing-mobile: 0;
  --mdt-brand-font--display-2-font-line-height-mobile: 26px;
  --mdt-brand-font--display-1-font-family: "Maersk Headline", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--display-1-font-size: 20px;
  --mdt-brand-font--display-1-font-style: normal;
  --mdt-brand-font--display-1-font-weight: 700;
  --mdt-brand-font--display-1-font-letter-spacing: 0;
  --mdt-brand-font--display-1-font-line-height: 24px;
  --mdt-brand-font--display-1-font-family-mobile: "Maersk Headline", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--display-1-font-size-mobile: 20px;
  --mdt-brand-font--display-1-font-style-mobile: normal;
  --mdt-brand-font--display-1-font-weight-mobile: 700;
  --mdt-brand-font--display-1-font-letter-spacing-mobile: 0;
  --mdt-brand-font--display-1-font-line-height-mobile: 24px;
  --mdt-brand-font--default-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--default-font-size: 16px;
  --mdt-brand-font--default-font-style: normal;
  --mdt-brand-font--default-font-weight: 400;
  --mdt-brand-font--default-font-letter-spacing: 0;
  --mdt-brand-font--default-font-line-height: 24px;
  --mdt-brand-font--default--bold-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--default--bold-font-size: 16px;
  --mdt-brand-font--default--bold-font-style: normal;
  --mdt-brand-font--default--bold-font-weight: 700;
  --mdt-brand-font--default--bold-font-letter-spacing: 0;
  --mdt-brand-font--default--bold-font-line-height: 24px;
  --mdt-brand-font--default--italic-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--default--italic-font-size: 16px;
  --mdt-brand-font--default--italic-font-style: italic;
  --mdt-brand-font--default--italic-font-weight: 400;
  --mdt-brand-font--default--italic-font-letter-spacing: 0;
  --mdt-brand-font--default--italic-font-line-height: 24px;
  --mdt-brand-font--default--bolditalic-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--default--bolditalic-font-size: 16px;
  --mdt-brand-font--default--bolditalic-font-style: italic;
  --mdt-brand-font--default--bolditalic-font-weight: 700;
  --mdt-brand-font--default--bolditalic-font-letter-spacing: 0;
  --mdt-brand-font--default--bolditalic-font-line-height: 24px;
  --mdt-brand-font--small-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--small-font-size: 14px;
  --mdt-brand-font--small-font-style: normal;
  --mdt-brand-font--small-font-weight: 400;
  --mdt-brand-font--small-font-letter-spacing: 0;
  --mdt-brand-font--small-font-line-height: 20px;
  --mdt-brand-font--small--bold-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--small--bold-font-size: 14px;
  --mdt-brand-font--small--bold-font-style: normal;
  --mdt-brand-font--small--bold-font-weight: 700;
  --mdt-brand-font--small--bold-font-letter-spacing: 0;
  --mdt-brand-font--small--bold-font-line-height: 20px;
  --mdt-brand-font--small--italic-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--small--italic-font-size: 14px;
  --mdt-brand-font--small--italic-font-style: italic;
  --mdt-brand-font--small--italic-font-weight: 400;
  --mdt-brand-font--small--italic-font-letter-spacing: 0;
  --mdt-brand-font--small--italic-font-line-height: 20px;
  --mdt-brand-font--small--bolditalic-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--small--bolditalic-font-size: 14px;
  --mdt-brand-font--small--bolditalic-font-style: italic;
  --mdt-brand-font--small--bolditalic-font-weight: 700;
  --mdt-brand-font--small--bolditalic-font-letter-spacing: 0;
  --mdt-brand-font--small--bolditalic-font-line-height: 20px;
  --mdt-brand-font--x-small-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--x-small-font-size: 12px;
  --mdt-brand-font--x-small-font-style: normal;
  --mdt-brand-font--x-small-font-weight: 400;
  --mdt-brand-font--x-small-font-letter-spacing: 0;
  --mdt-brand-font--x-small-font-line-height: 16px;
  --mdt-brand-font--x-small--bold-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--x-small--bold-font-size: 12px;
  --mdt-brand-font--x-small--bold-font-style: normal;
  --mdt-brand-font--x-small--bold-font-weight: 700;
  --mdt-brand-font--x-small--bold-font-letter-spacing: 0;
  --mdt-brand-font--x-small--bold-font-line-height: 16px;
  --mdt-brand-font--x-small--italic-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--x-small--italic-font-size: 12px;
  --mdt-brand-font--x-small--italic-font-style: italic;
  --mdt-brand-font--x-small--italic-font-weight: 400;
  --mdt-brand-font--x-small--italic-font-letter-spacing: 0;
  --mdt-brand-font--x-small--italic-font-line-height: 16px;
  --mdt-brand-font--x-small--bolditalic-font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  --mdt-brand-font--x-small--bolditalic-font-size: 12px;
  --mdt-brand-font--x-small--bolditalic-font-style: italic;
  --mdt-brand-font--x-small--bolditalic-font-weight: 700;
  --mdt-brand-font--x-small--bolditalic-font-letter-spacing: 0;
  --mdt-brand-font--x-small--bolditalic-font-line-height: 16px;
}
.appearance--light_default, :root {
  --mdt-theme-accordion-background-color: rgb(35, 35, 35);
  --mdt-theme-accordion-background-color-surface: rgb(255, 255, 255);
  --mdt-theme-accordion-title-text-color: rgb(0, 59, 92);
  --mdt-theme-accordion-content-text-color: rgb(53, 53, 53);
  --mdt-theme-accordion-border: rgb(226, 226, 226);
  --mdt-theme-filled: rgb(122, 225, 191);
  --mdt-theme-on-filled: rgb(0, 59, 92);
  --mdt-theme-border-filled: rgba(0, 0, 0, 0);
  --mdt-theme-filled-hover: rgba(122, 225, 191, 0.8);
  --mdt-theme-on-filled-hover: rgb(0, 59, 92);
  --mdt-theme-border-filled-hover: rgba(0, 0, 0, 0);
  --mdt-theme-filled-active: rgb(36, 213, 166);
  --mdt-theme-on-filled-active: rgb(0, 59, 92);
  --mdt-theme-border-filled-active: rgba(0, 0, 0, 0);
  --mdt-theme-filled-disabled: rgb(178, 237, 216);
  --mdt-theme-on-filled-disabled: rgb(0, 59, 92);
  --mdt-theme-border-filled-disabled: rgba(0, 0, 0, 0);
  --mdt-theme-filled-focus: rgb(178, 237, 216);
  --mdt-theme-filled-alt: rgb(0, 59, 92);
  --mdt-theme-on-filled-alt: rgb(250, 250, 250);
  --mdt-theme-border-filled-alt: rgba(0, 0, 0, 0);
  --mdt-theme-filled-alt-hover: rgba(0, 59, 92, 0.8);
  --mdt-theme-on-filled-alt-hover: rgb(250, 250, 250);
  --mdt-theme-border-filled-alt-hover: rgba(0, 0, 0, 0);
  --mdt-theme-filled-alt-active: rgb(0, 47, 74);
  --mdt-theme-on-filled-alt-active: rgb(250, 250, 250);
  --mdt-theme-border-filled-alt-active: rgba(0, 0, 0, 0);
  --mdt-theme-filled-alt-disabled: rgba(14, 85, 122, 0.5);
  --mdt-theme-on-filled-alt-disabled: rgb(250, 250, 250);
  --mdt-theme-border-filled-alt-disabled: rgba(0, 0, 0, 0);
  --mdt-theme-filled-alt-focus: rgb(38, 117, 155);
  --mdt-theme-outlined: rgb(240, 240, 240);
  --mdt-theme-on-outlined: rgb(0, 124, 194);
  --mdt-theme-border-outlined: rgb(240, 240, 240);
  --mdt-theme-outlined-hover: rgb(240, 240, 240);
  --mdt-theme-on-outlined-hover: rgb(0, 124, 194);
  --mdt-theme-border-outlined-hover: rgb(191, 191, 191);
  --mdt-theme-outlined-active: rgb(240, 240, 240);
  --mdt-theme-on-outlined-active: rgb(0, 124, 194);
  --mdt-theme-border-outlined-active: rgb(191, 191, 191);
  --mdt-theme-outlined-disabled: rgba(245, 245, 245, 0.5);
  --mdt-theme-on-outlined-disabled: rgba(0, 124, 194, 0.5);
  --mdt-theme-border-outlined-disabled: rgba(191, 191, 191, 0.5);
  --mdt-theme-outlined-focus: rgb(178, 237, 216);
  --mdt-theme-primary-inverse: rgb(250, 250, 250);
  --mdt-theme-on-primary-inverse: rgb(0, 124, 194);
  --mdt-theme-border-primary-inverse: rgba(0, 0, 0, 0);
  --mdt-theme-primary-inverse-hover: rgb(250, 250, 250);
  --mdt-theme-on-primary-inverse-hover: rgb(0, 124, 194);
  --mdt-theme-border-primary-inverse-hover: rgba(0, 0, 0, 0);
  --mdt-theme-primary-inverse-active: rgb(240, 240, 240);
  --mdt-theme-on-primary-inverse-active: rgb(0, 124, 194);
  --mdt-theme-border-primary-inverse-active: rgba(0, 0, 0, 0);
  --mdt-theme-primary-inverse-disabled: rgb(226, 226, 226);
  --mdt-theme-on-primary-inverse-disabled: rgb(0, 124, 194);
  --mdt-theme-border-primary-inverse-disabled: rgba(0, 0, 0, 0);
  --mdt-theme-primary-inverse-focus: rgb(178, 237, 216);
  --mdt-theme-secondary-inverse: rgba(0, 0, 0, 0);
  --mdt-theme-on-secondary-inverse: rgb(250, 250, 250);
  --mdt-theme-border-secondary-inverse: rgb(250, 250, 250);
  --mdt-theme-secondary-inverse-hover: rgb(250, 250, 250);
  --mdt-theme-on-secondary-inverse-hover: rgb(0, 124, 194);
  --mdt-theme-border-secondary-inverse-hover: rgb(250, 250, 250);
  --mdt-theme-secondary-inverse-active: rgb(226, 226, 226);
  --mdt-theme-on-secondary-inverse-active: rgb(0, 124, 194);
  --mdt-theme-border-secondary-inverse-active: rgb(250, 250, 250);
  --mdt-theme-secondary-inverse-disabled: rgba(250, 250, 250, 0.25);
  --mdt-theme-on-secondary-inverse-disabled: rgba(250, 250, 250, 0.5);
  --mdt-theme-border-secondary-inverse-disabled: rgba(250, 250, 250, 0.5);
  --mdt-theme-secondary-inverse-focus: rgb(178, 237, 216);
  --mdt-theme-on-plain-alt: rgb(24, 101, 1);
  --mdt-theme-on-plain-alt-hover: rgb(24, 101, 1);
  --mdt-theme-on-plain-alt-active: rgb(24, 101, 1);
  --mdt-theme-calendar-border: rgb(191, 191, 191);
  --mdt-theme-calendar-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03), 0 1px 18px 0 rgba(0, 0, 0, 0.03), 0 3px 5px -1px rgba(0, 0, 0, 0.04);
  --mdt-theme-calendar-today-font-color: rgb(24, 101, 1);
  --mdt-theme-icon-color: rgb(0, 59, 92);
  --mdt-theme-input: rgb(250, 250, 250);
  --mdt-theme-input-checked: rgb(122, 225, 191);
  --mdt-theme-input-checked-disabled: rgb(226, 226, 226);
  --mdt-theme-input-checkbox-checked: rgb(122, 225, 191);
  --mdt-theme-input-checked-hover: rgb(0, 202, 147);
  --mdt-theme-input-invalid: rgb(203, 40, 43);
  --mdt-theme-input-disabled: rgb(240, 240, 240);
  --mdt-theme-input-icon: rgb(0, 59, 92);
  --mdt-theme-select-icon: rgb(99, 99, 99);
  --mdt-theme-input-icon-disabled: rgb(161, 161, 161);
  --mdt-theme-on-input: rgb(0, 59, 92);
  --mdt-theme-on-input-checked: rgb(0, 59, 92);
  --mdt-theme-on-input-invalid: rgb(250, 250, 250);
  --mdt-theme-on-input-disabled: rgb(161, 161, 161);
  --mdt-theme-on-input-placeholder: rgb(117, 117, 117);
  --mdt-theme-border-input: rgb(120, 120, 120);
  --mdt-theme-border-input-checked: rgb(122, 225, 191);
  --mdt-theme-border-input-checked-hover: rgb(122, 225, 191);
  --mdt-theme-border-input-checked-focus: rgb(122, 225, 191);
  --mdt-theme-border-input-invalid: rgb(203, 40, 43);
  --mdt-theme-border-input-invalid-focus: rgb(255, 206, 211);
  --mdt-theme-border-input-disabled: rgb(226, 226, 226);
  --mdt-theme-border-input-hover: rgb(35, 35, 35);
  --mdt-theme-border-input-active: rgb(35, 35, 35);
  --mdt-theme-border-input-focus: rgb(35, 35, 35);
  --mdt-theme-checkmark-input-checked: rgb(0, 59, 92);
  --mdt-theme-checkmark-input-checked-hover: rgb(0, 59, 92);
  --mdt-theme-checkmark-input-checked-invalid: rgb(0, 59, 92);
  --mdt-theme-checkmark-input-checked-invalid-hover: rgb(0, 59, 92);
  --mdt-theme-checkmark-input-disabled: rgb(0, 59, 92);
  --mdt-theme-switch-track-unchecked: rgb(191, 191, 191);
  --mdt-theme-background-input-hover: rgba(0, 0, 0, 0);
  --mdt-theme-background-input-active: rgba(0, 0, 0, 0);
  --mdt-theme-background-input-invalid: rgb(203, 40, 43);
  --mdt-theme-background-input-invalid-hover: rgb(203, 40, 43);
  --mdt-theme-list-item-text: rgb(68, 68, 68);
  --mdt-theme-list-item-text-secondary: rgb(68, 68, 68);
  --mdt-theme-list-item-text-hover: rgb(68, 68, 68);
  --mdt-theme-list-item-text-activated: rgb(68, 68, 68);
  --mdt-theme-list-item-text-disabled: rgb(68, 68, 68);
  --mdt-theme-list-item-background: rgb(250, 250, 250);
  --mdt-theme-list-item-background-hover: rgb(226, 226, 226);
  --mdt-theme-list-item-background-activated: rgb(122, 225, 191);
  --mdt-theme-list-item-background-disabled: rgb(250, 250, 250);
  --mdt-theme-list-border: rgb(191, 191, 191);
  --mdt-theme-list-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03), 0 1px 18px 0 rgba(0, 0, 0, 0.03), 0 3px 5px -1px rgba(0, 0, 0, 0.04);
  --mdt-theme-loading-text-color--default: rgb(35, 35, 35);
  --mdt-theme-loading--default: rgb(240, 240, 240);
  --mdt-theme-on-loading--default: rgb(0, 59, 92);
  --mdt-theme-loading-text-color--inverse: rgb(250, 250, 250);
  --mdt-theme-loading--inverse: rgba(250, 250, 250, 0.15);
  --mdt-theme-on-loading--inverse: rgb(250, 250, 250);
  --mdt-theme-background-color-scrim: rgba(35, 35, 35, 0.5);
  --mdt-theme-background-color-surface: rgb(250, 250, 250);
  --mdt-theme-background-color-footer: rgb(245, 245, 245);
  --mdt-theme-shadow-surface: 0 3px 5px -1px rgba(0, 0, 0, 0.04), 0 1px 18px rgba(0, 0, 0, 0.03), 0 6px 10px rgba(0, 0, 0, 0.03);
  --mdt-theme-border-color-step-indicator: rgba(0, 59, 92, 0.5);
  --mdt-theme-color-border-step-indicator-completed: rgb(0, 59, 92);
  --mdt-theme-color-border-step-indicator-active: rgb(0, 59, 92);
  --mdt-theme-color-step-indicator-step-icon: rgb(250, 250, 250);
  --mdt-theme-color-step-indicator-step-label: inherit;
  --mdt-theme-color-background-step-indicator-icon: rgb(0, 59, 92);
  --mdt-theme-color-background-step-indicator-icon-active: transparent;
  --mdt-theme-border-color-switch-group-item: rgb(226, 226, 226);
  --mdt-theme-tab-underline: rgb(226, 226, 226);
  --mdt-theme-tab-filled: transparent;
  --mdt-theme-tab-filled-active: rgb(36, 213, 166);
  --mdt-theme-table--header-background: rgb(245, 245, 245);
  --mdt-theme-table--alt-row-background: rgb(245, 245, 245);
  --mdt-theme-table--row-hover: rgb(233, 246, 252);
  --mdt-theme-table--caption-color: rgb(99, 99, 99);
  --mdt-theme-tag--default: rgb(240, 240, 240);
  --mdt-theme-color-background-tooltip--default: rgb(250, 250, 250);
  --mdt-theme-color-background-tooltip--inverse: rgb(68, 68, 68);
  --mdt-theme-color-border-tooltip--default: rgb(226, 226, 226);
  --mdt-theme-color-border-tooltip--inverse: rgb(68, 68, 68);
  --mdt-theme-color-tooltip--default: rgb(0, 59, 92);
  --mdt-theme-color-tooltip--inverse: rgb(250, 250, 250);
  --mdt-theme-box-shadow-tooltip--default: 0 3px 5px -1px rgba(0, 0, 0, 0.04), 0 1px 18px rgba(0, 0, 0, 0.03), 0 6px 10px rgba(0, 0, 0, 0.03);
  --mdt-theme-box-shadow-tooltip--inverse: transparent;
  --mdt-theme-background-color: rgb(250, 250, 250);
  --mdt-theme-background-color--default: rgb(250, 250, 250);
  --mdt-theme-background-color--alt: rgb(240, 240, 240);
  --mdt-theme-background-color--inverse: rgb(0, 59, 92);
  --mdt-theme-on-background-color--inverse: rgb(250, 250, 250);
  --mdt-theme-background-color-alt: rgb(245, 245, 245);
  --mdt-theme-background-color-info: rgb(180, 231, 253);
  --mdt-theme-foreground-color-info: rgb(0, 59, 92);
  --mdt-theme-background-color-success: rgb(178, 237, 216);
  --mdt-theme-foreground-color-success: rgb(0, 59, 92);
  --mdt-theme-background-color-warning: rgb(253, 222, 181);
  --mdt-theme-foreground-color-warning: rgb(0, 59, 92);
  --mdt-theme-background-color-error: rgb(255, 206, 211);
  --mdt-theme-foreground-color-error: rgb(0, 59, 92);
  --mdt-theme-on-background-color: rgb(0, 59, 92);
  --mdt-theme-on-background-color-hint: rgb(0, 59, 92);
  --mdt-theme-on-background-color-link: rgb(0, 124, 194);
  --mdt-theme-on-background-color-link-hover: rgb(0, 140, 214);
  --mdt-theme-on-background-color-invalid: rgb(203, 40, 43);
  --mdt-theme-border-color: rgb(191, 191, 191);
  --mdt-theme-table-header-background-color: rgb(245, 245, 245);
  --mdt-theme-table-on-header-background-color: rgb(0, 59, 92);
  --mdt-theme-shadow-focus: rgb(178, 237, 216);
  --mdt-theme-shadow-invalid-focus: rgb(255, 206, 211);
  --mdt-theme--info: rgb(180, 231, 253);
  --mdt-theme--success: rgb(178, 237, 216);
  --mdt-theme--warning: rgb(253, 222, 181);
  --mdt-theme--error: rgb(255, 206, 211);
  --mdt-theme-action-card-padding: 24px;
  --mdt-theme-hero-border-radius: 4px;
  --mdt-theme-hero-cell-height-xs: 250px;
  --mdt-theme-hero-cell-height-sm: 400px;
  --mdt-theme-hero-xl-cell-height-sm: 560px;
  --mdt-theme-hero-xl-cell-height-md: 650px;
  --mdt-theme-hero-xl-cell-height-lg: 650px;
  --mdt-theme-media-image-video-icon-border: 2px solid rgba(white, 0.9);
  --mdt-theme-media-image-video-icon-border-radius: 2px;
  --mdt-theme-media-image-video-icon-background-color: rgba(0, 0, 0, 0.3);
  --mdt-theme-media-image-video-icon-width: 60px;
  --mdt-theme-media-image-video-icon-height: 40px;
  --mdt-theme-palette-primary-blue-900: rgb(0, 47, 74);
  --mdt-theme-palette-primary-blue-800: rgb(0, 59, 92);
  --mdt-theme-palette-primary-blue-700: rgb(14, 85, 122);
  --mdt-theme-palette-primary-blue-600: rgb(24, 101, 1);
  --mdt-theme-palette-primary-blue-500: rgb(38, 117, 155);
  --mdt-theme-palette-primary-blue-400: rgb(51, 129, 166);
  --mdt-theme-palette-primary-blue-300: rgb(76, 145, 176);
  --mdt-theme-palette-primary-blue-200: rgb(104, 163, 187);
  --mdt-theme-palette-primary-blue-100: rgb(141, 189, 206);
  --mdt-theme-palette-primary-red-900: rgb(188, 28, 31);
  --mdt-theme-palette-primary-red-800: rgb(203, 40, 43);
  --mdt-theme-palette-primary-red-700: rgb(216, 47, 51);
  --mdt-theme-palette-primary-red-600: rgb(234, 57, 57);
  --mdt-theme-palette-primary-red-500: rgb(249, 66, 58);
  --mdt-theme-palette-primary-red-400: rgb(243, 84, 84);
  --mdt-theme-palette-primary-red-300: rgb(232, 116, 118);
  --mdt-theme-palette-primary-red-200: rgb(241, 155, 156);
  --mdt-theme-palette-primary-red-100: rgb(255, 206, 211);
  --mdt-theme-palette-secondary-yellow-900: rgb(219, 82, 28);
  --mdt-theme-palette-secondary-yellow-800: rgb(229, 107, 33);
  --mdt-theme-palette-secondary-yellow-700: rgb(236, 122, 36);
  --mdt-theme-palette-secondary-yellow-600: rgb(243, 137, 38);
  --mdt-theme-palette-secondary-yellow-500: rgb(247, 148, 40);
  --mdt-theme-palette-secondary-yellow-400: rgb(249, 163, 58);
  --mdt-theme-palette-secondary-yellow-300: rgb(250, 179, 89);
  --mdt-theme-palette-secondary-yellow-200: rgb(252, 201, 134);
  --mdt-theme-palette-secondary-yellow-100: rgb(253, 222, 181);
  --mdt-theme-palette-secondary-blue-900: rgb(0, 91, 160);
  --mdt-theme-palette-secondary-blue-800: rgb(0, 124, 194);
  --mdt-theme-palette-secondary-blue-700: rgb(0, 140, 214);
  --mdt-theme-palette-secondary-blue-600: rgb(0, 159, 234);
  --mdt-theme-palette-secondary-blue-500: rgb(0, 173, 249);
  --mdt-theme-palette-secondary-blue-400: rgb(41, 186, 250);
  --mdt-theme-palette-secondary-blue-300: rgb(80, 198, 251);
  --mdt-theme-palette-secondary-blue-200: rgb(130, 215, 253);
  --mdt-theme-palette-secondary-blue-100: rgb(180, 231, 253);
  --mdt-theme-palette-secondary-green-900: rgb(0, 106, 63);
  --mdt-theme-palette-secondary-green-800: rgb(0, 138, 87);
  --mdt-theme-palette-secondary-green-700: rgb(0, 156, 101);
  --mdt-theme-palette-secondary-green-600: rgb(0, 175, 115);
  --mdt-theme-palette-secondary-green-500: rgb(0, 191, 127);
  --mdt-theme-palette-secondary-green-400: rgb(0, 202, 147);
  --mdt-theme-palette-secondary-green-300: rgb(36, 213, 166);
  --mdt-theme-palette-secondary-green-200: rgb(122, 225, 191);
  --mdt-theme-palette-secondary-green-100: rgb(178, 237, 216);
  --mdt-theme-palette-functional-transparent: rgba(0, 0, 0, 0);
  --mdt-theme-palette-functional-900: rgb(35, 35, 35);
  --mdt-theme-palette-functional-800: rgb(68, 68, 68);
  --mdt-theme-palette-functional-700: rgb(99, 99, 99);
  --mdt-theme-palette-functional-600: rgb(120, 120, 120);
  --mdt-theme-palette-functional-500: rgb(161, 161, 161);
  --mdt-theme-palette-functional-400: rgb(191, 191, 191);
  --mdt-theme-palette-functional-300: rgb(226, 226, 226);
  --mdt-theme-palette-functional-200: rgb(240, 240, 240);
  --mdt-theme-palette-functional-100: rgb(245, 245, 245);
  --mdt-theme-palette-functional-50: rgb(250, 250, 250);
  --mdt-theme-palette-feedback-danger-dark: rgb(203, 40, 43);
  --mdt-theme-palette-feedback-danger-light: rgb(255, 206, 211);
  --mdt-theme-palette-feedback-warning-dark: rgb(247, 148, 40);
  --mdt-theme-palette-feedback-warning-light: rgb(253, 222, 181);
  --mdt-theme-palette-feedback-success-dark: rgb(0, 175, 115);
  --mdt-theme-palette-feedback-success-light: rgb(178, 237, 216);
  --mdt-theme-palette-feedback-info-dark: rgb(80, 198, 251);
  --mdt-theme-palette-feedback-info-light: rgb(180, 231, 253);
  --mdt-theme-palette-primary-800: rgb(0, 61, 109);
  --mdt-theme-palette-functional-50-white: rgb(255, 255, 255);
  --mdt-theme-palette-functional-800-gray: rgb(53, 53, 53);
  --mdt-theme-box-shadow-1: 0 1px 1px 0 rgba(0, 0, 0, 0.03), 0 2px 1px -1px rgba(0, 0, 0, 0.03), 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-2: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-3: 0 3px 4px 0 rgba(0, 0, 0, 0.03), 0 3px 3px -2px rgba(0, 0, 0, 0.03), 0 1px 8px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-4: 0 6px 10px 0 rgba(0, 0, 0, 0.03), 0 1px 18px 0 rgba(0, 0, 0, 0.03), 0 3px 5px -1px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-5: 0 8px 10px 1px rgba(0, 0, 0, 0.03), 0 3px 14px 2px rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-6: 0 9px 12px 1px rgba(0, 0, 0, 0.03), 0 3px 16px 2px rgba(0, 0, 0, 0.03), 0 5px 6px -3px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-7: 0 12px 17px 2px rgba(0, 0, 0, 0.03), 0 5px 22px 4px rgba(0, 0, 0, 0.03), 0 7px 8px -4px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-8: 0 16px 24px 2px rgba(0, 0, 0, 0.03), 0 6px 30px 5px rgba(0, 0, 0, 0.03), 0 8px 10px -5px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-9: 0 24px 38px 3px rgba(0, 0, 0, 0.03), 0 9px 46px 8px rgba(0, 0, 0, 0.03), 0 11px 15px -7px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-xs: 0 1px 1px 0 rgba(0, 0, 0, 0.03), 0 2px 1px -1px rgba(0, 0, 0, 0.03), 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-s: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-m: 0 3px 4px 0 rgba(0, 0, 0, 0.03), 0 3px 3px -2px rgba(0, 0, 0, 0.03), 0 1px 8px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-l: 0 6px 10px 0 rgba(0, 0, 0, 0.03), 0 1px 18px 0 rgba(0, 0, 0, 0.03), 0 3px 5px -1px rgba(0, 0, 0, 0.04);
}
