<div class="mds-grid mds-grid-cols-1">
  <div class="mds-flex mds-gap-400">
    <mc-button label="small" (click)="onFitChanged('small')"></mc-button>
    <mc-button label="medium" (click)="onFitChanged('medium')"></mc-button>
    <mc-button label="large" (click)="onFitChanged('large')"></mc-button>
  </div>
  <mc-tab-bar (tabchange)="onTabChange($event)" [fit]="fit">
    <!-- tab 0: -->
    <mc-tab slot="tab" label="Info" icon="info-circle" [fit]="fit"></mc-tab>
    <div slot="panel">
      <mc-notification heading="Get in touch" icon="info-circle" [fit]="fit">
        <div>
          <p>
            The best way to get in touch with us is via Microsoft Teams. We have a number of channels with specific
            purposes:
          </p>
          <ul>
            <li>
              <a href="https://designsystem.maersk.com/get-involved/get-in-touch">Designers</a> - help and support
              focussing on UX / designer support and feedback.
            </li>
            <li>
              <a href="https://designsystem.maersk.com/get-involved/get-in-touch">Developers</a> - help and support
              focussing on developer support and feedback.
            </li>
            <li>
              <a href="https://designsystem.maersk.com/get-involved/get-in-touch">General</a> - general chat and
              updates.
            </li>
          </ul>
        </div>
      </mc-notification>
    </div>
    <!-- tab 1: -->
    <mc-tab slot="tab" label="Work" icon="globe" [fit]="fit"></mc-tab>
    <div slot="panel">
      <p>Work page that showcases our work.</p>
      <div>
        <mc-tag *ngFor="let tag of tags" [label]="tag" withAction (dismiss)="onTagDismiss(tag)" [fit]="fit"></mc-tag>
      </div>
    </div>
    <!-- tab 2: -->
    <mc-tab slot="tab" label="Hobby" icon="heart" [fit]="fit"></mc-tab>
    <div slot="panel">
      <div>
        <p *ngFor="let item of hobbies | async">{{ item }}</p>
      </div>
      <mc-loading-indicator *ngIf="isLoading" label="Fetching data ..." [fit]="fit"></mc-loading-indicator>
    </div>
    <!-- tab 3: -->
    <mc-tab slot="tab" label="Contact" icon="envelope" [fit]="fit"></mc-tab>
    <p slot="panel">
      Contact page that shows our contacts.
      <mc-pagination totalpages="8" visiblepages="6" currentpage="1" [fit]="fit"> </mc-pagination>
    </p>
    <!-- tab 4: -->
    <mc-tab slot="tab" label="Address" icon="warehouse" [fit]="fit"></mc-tab>
    <p slot="panel">Address page that shows our addresses.</p>
  </mc-tab-bar>
  <mc-card
    [clickable]="isCardClickable"
    heading="Go to tab-bar-router"
    body="Navigate to tab-bar-router page using router link."
    (click)="redirectToRoute()"
  >
  </mc-card>
</div>
