<div class="mds-grid mds-grid-cols-2">
  <h1>Angular</h1>
  <div>
    <h6>Icon:</h6>
    <mds-icon></mds-icon>
  </div>
  <div>
    <h6>LoadingIndicator:</h6>
    <mds-loading-indicator></mds-loading-indicator>
  </div>
  <div>
    <h6>TextAndIcon:</h6>
    <mds-text-and-icon></mds-text-and-icon>
  </div>
  <div>
    <h6>Button:</h6>
    <mds-button></mds-button>
  </div>
  <div>
    <h6>Link Button:</h6>
    <mds-link-button></mds-link-button>
  </div>
  <div>
    <h6>Label:</h6>
    <mds-label></mds-label>
  </div>
  <div>
    <h6>Hint:</h6>
    <mds-hint></mds-hint>
  </div>
  <div>
    <h6>Error:</h6>
    <mds-error></mds-error>
  </div>
  <div>
    <h6>Card:</h6>
    <mds-card></mds-card>
  </div>
  <div>
    <h6>Tag:</h6>
    <mds-tag></mds-tag>
  </div>
  <div>
    <h6>Checkbox:</h6>
    <mds-checkbox></mds-checkbox>
  </div>
  <div>
    <h6>Radio:</h6>
    <mds-radio></mds-radio>
  </div>
  <div>
    <h6>Switch:</h6>
    <mds-switch></mds-switch>
  </div>
  <div>
    <h6>CheckboxGroup:</h6>
    <mds-checkbox-group></mds-checkbox-group>
  </div>
  <div>
    <h6>RadioGroup:</h6>
    <mds-radio-group></mds-radio-group>
  </div>
  <div>
    <h6>SwitchGroup:</h6>
    <mds-switch-group></mds-switch-group>
  </div>
  <div>
    <h6>ListItem:</h6>
    <mds-list-item></mds-list-item>
  </div>
  <div>
    <h6>Option:</h6>
    <mds-option></mds-option>
  </div>
  <div>
    <h6>List:</h6>
    <mds-list></mds-list>
  </div>
  <div>
    <h6>ButtonGroup:</h6>
    <mds-button-group></mds-button-group>
  </div>
  <div>
    <h6>SegmentedControl:</h6>
    <mds-segmented-control></mds-segmented-control>
  </div>
  <div>
    <h6>Notification:</h6>
    <mds-notification></mds-notification>
  </div>
  <div>
    <h6>Toast:</h6>
    <mds-toast></mds-toast>
  </div>
  <div>
    <h6>Pagination:</h6>
    <mds-pagination></mds-pagination>
  </div>
  <div>
    <h6>TabBar:</h6>
    <mds-tab-bar></mds-tab-bar>
  </div>
  <div>
    <h6>Modal:</h6>
    <mds-modal></mds-modal>
  </div>
  <div>
    <h6>Popover:</h6>
    <mds-popover></mds-popover>
  </div>
  <div>
    <h6>PickerItem:</h6>
    <mds-picker-item></mds-picker-item>
  </div>
  <div>
    <h6>Picker:</h6>
    <mds-picker></mds-picker>
  </div>
  <div>
    <h6>TimePicker:</h6>
    <mds-time-picker></mds-time-picker>
  </div>
  <div>
    <h6>MonthYearPicker:</h6>
    <mds-month-year-picker></mds-month-year-picker>
  </div>
  <div>
    <h6>Calendar:</h6>
    <mds-calendar></mds-calendar>
  </div>
  <div>
    <h6>Menu:</h6>
    <mds-menu></mds-menu>
  </div>
  <div>
    <h6>Tooltip:</h6>
    <mds-tooltip></mds-tooltip>
  </div>
  <div>
    <h6>Avatar:</h6>
    <mds-avatar></mds-avatar>
  </div>
  <div>
    <h6>Input:</h6>
    <mds-input></mds-input>
  </div>
  <div>
    <h6>NumberStepper:</h6>
    <mds-number-stepper></mds-number-stepper>
  </div>
  <div>
    <h6>Textarea:</h6>
    <mds-textarea></mds-textarea>
  </div>
  <div>
    <h6>SelectNative:</h6>
    <mds-select-native></mds-select-native>
  </div>
  <div>
    <h6>InputDate:</h6>
    <mds-input-date></mds-input-date>
  </div>
  <div>
    <h6>InputTime:</h6>
    <mds-input-time></mds-input-time>
  </div>
  <div>
    <h6>DateRange:</h6>
    <mds-date-range></mds-date-range>
  </div>
  <div>
    <h6>FileUpload:</h6>
    <mds-file-upload></mds-file-upload>
  </div>
  <div>
    <h6>Select:</h6>
    <mds-select></mds-select>
  </div>
  <div>
    <h6>MultiSelect:</h6>
    <mds-multi-select></mds-multi-select>
  </div>
  <div>
    <h6>Typeahead:</h6>
    <mds-typeahead></mds-typeahead>
  </div>
  <div>
    <div>
      <h6>Typeahead Multi Select:</h6>
      <mds-typeahead-multi-select></mds-typeahead-multi-select>
    </div>
    <h6>Table:</h6>
    <mds-table></mds-table>
  </div>
  <div>
    <h6>StepIndicator:</h6>
    <mds-step-indicator></mds-step-indicator>
  </div>
  <div>
    <h6>Dialog:</h6>
    <mds-dialog></mds-dialog>
  </div>
  <div>
    <h6>Drawer:</h6>
    <mds-drawer></mds-drawer>
  </div>
  <div>
    <h6>Theme Switch:</h6>
    <mds-theme-switch></mds-theme-switch>
  </div>
  <div>
    <h6>Progress Indicator:</h6>
    <mds-progress-indicator></mds-progress-indicator>
  </div>
  <div>
    <h6>Badge:</h6>
    <mds-badge></mds-badge>
  </div>
  <div>
    <h6>InputGroup:</h6>
    <mds-input-group></mds-input-group>
  </div>
  <!-- %%COMPONENT_HTML%% -->
</div>
