<div class="mds-grid mds-grid-cols-1">
  <mc-button-group>
    <mc-button-group-item><a routerLink="/buttongrouprouter/1">1</a></mc-button-group-item>
    <mc-button-group-item><a routerLink="/buttongrouprouter/2">2</a></mc-button-group-item>
    <mc-button-group-item><a routerLink="/buttongrouprouter/3">3</a></mc-button-group-item>
    <mc-button-group-item><a routerLink="/buttongrouprouter/4">4</a></mc-button-group-item>
    <mc-button-group-item><a routerLink="/buttongrouprouter/5">5</a></mc-button-group-item>
  </mc-button-group>

  <hr />
  <p>Content of page: {{ currentIndex$ | async }}</p>
</div>
