# See http://help.github.com/ignore-files/ for more about ignoring files.
.env

# compiled output
/dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# React wrapper & Mds-components-core wrapper
packages/mds-components-test/*
!packages/mds-components-test/package.json
!packages/mds-components-test/project.json
packages/mds-react-wrapper/*
!packages/mds-react-wrapper/package.json
!packages/mds-react-wrapper/project.json

packages/mds-design-tokens/implementation/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.storybook/public/@maersk-global
.storybook/public/packages
build-storybook.log
medalia/cypress/screenshots
tools/coverage
component-metadata.csv

# System Files
.DS_Store
Thumbs.db

.nx
.nx/cache
.lighthouseci

# Cypress
cypress/snapshots


# Next.js
.next
out
.angular

# .vite
.vite

# kitchen-sinks
kitchen-sinks/spa-angular/public/assets/@maersk-global
kitchen-sinks/spa-vue/dist
