:root {
  --mdt-core-border-radius-xxl: 20px;
  --mdt-core-border-radius-s: 3px;
  --mdt-core-border-radius-m: 4px;
  --mdt-core-border-radius-l: 6px;
  --mdt-core-border-width: 1px;
  --mdt-core-border-style: solid;
  --mdt-core-element-width-s: 20px;
  --mdt-core-element-width-m: 24px;
  --mdt-core-element-height-s: 20px;
  --mdt-core-element-height-m: 24px;
  --mdt-core-input-field-height-s: 32px;
  --mdt-core-input-field-height-m: 40px;
  --mdt-core-modal-width-s: 400px;
  --mdt-core-modal-height-s: 225px;
  --mdt-core-modal-width-m: 800px;
  --mdt-core-modal-height-m: 400px;
  --mdt-core-modal-width-l: 1200px;
  --mdt-core-modal-height-l: 600px;
  --mdt-core-modal-min-height-s: 50px;
  --mdt-core-modal-min-height-m: 100px;
  --mdt-core-modal-min-height-l: 200px;
  --mdt-core-spacing-1px: 1px;
  --mdt-core-spacing-2px: 2px;
  --mdt-core-spacing-3px: 3px;
  --mdt-core-spacing-4px: 4px;
  --mdt-core-spacing-5px: 5px;
  --mdt-core-spacing-6px: 6px;
  --mdt-core-spacing-7px: 7px;
  --mdt-core-spacing-8px: 8px;
  --mdt-core-spacing-9px: 9px;
  --mdt-core-spacing-10px: 10px;
  --mdt-core-spacing-11px: 11px;
  --mdt-core-spacing-12px: 12px;
  --mdt-core-spacing-13px: 13px;
  --mdt-core-spacing-14px: 14px;
  --mdt-core-spacing-15px: 15px;
  --mdt-core-spacing-16px: 16px;
  --mdt-core-spacing-17px: 17px;
  --mdt-core-spacing-18px: 18px;
  --mdt-core-spacing-19px: 19px;
  --mdt-core-spacing-20px: 20px;
  --mdt-core-spacing-22px: 22px;
  --mdt-core-spacing-23px: 23px;
  --mdt-core-spacing-24px: 24px;
  --mdt-core-spacing-26px: 26px;
  --mdt-core-spacing-28px: 28px;
  --mdt-core-spacing-30px: 30px;
  --mdt-core-spacing-32px: 32px;
  --mdt-core-spacing-33px: 33px;
  --mdt-core-spacing-34px: 34px;
  --mdt-core-spacing-36px: 36px;
  --mdt-core-spacing-38px: 38px;
  --mdt-core-spacing-39px: 39px;
  --mdt-core-spacing-40px: 40px;
  --mdt-core-spacing-42px: 42px;
  --mdt-core-spacing-44px: 44px;
  --mdt-core-spacing-46px: 46px;
  --mdt-core-spacing-47px: 47px;
  --mdt-core-spacing-48px: 48px;
  --mdt-core-spacing-56px: 56px;
  --mdt-core-spacing-64px: 64px;
  --mdt-core-transition-duration: 0.20s;
  --mdt-core-transition-duration-medium: 0.50s;
  --mdt-core-transition-delay: 0.00s;
  --mdt-core-transition-timing-function: ease-in-out;
  --mdt-core-transition: all 0.20s ease-in-out;
  --mdt-core-transition-medium: all 0.50s ease-in-out;
  --mdt-brand-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font-family-display: "HamburgSud Headline", Arial, sans-serif;
  --mdt-brand-font-weight-400: 400;
  --mdt-brand-font-weight-500: 500;
  --mdt-brand-font-weight-600: 600;
  --mdt-brand-font-weight-700: 700;
  --mdt-brand-font-size-xs: 12px;
  --mdt-brand-font-size-s: 14px;
  --mdt-brand-font-size-m: 16px;
  --mdt-brand-font-size-l: 16px;
  --mdt-brand-font-size-xl: 20px;
  --mdt-brand-font-line-height-xs: 16px;
  --mdt-brand-font-line-height-s: 20px;
  --mdt-brand-font-line-height-m: 24px;
  --mdt-brand-font-line-height-input-s: 18px;
  --mdt-brand-font-line-height-input-m: 22px;
  --mdt-brand-font--display-5-font-family: "HamburgSud Headline", Arial, sans-serif;
  --mdt-brand-font--display-5-font-size: 80px;
  --mdt-brand-font--display-5-font-style: normal;
  --mdt-brand-font--display-5-font-weight: 400;
  --mdt-brand-font--display-5-font-letter-spacing: 0;
  --mdt-brand-font--display-5-font-line-height: 80px;
  --mdt-brand-font--display-5-font-family-mobile: "HamburgSud Headline", Arial, sans-serif;
  --mdt-brand-font--display-5-font-size-mobile: 56px;
  --mdt-brand-font--display-5-font-style-mobile: normal;
  --mdt-brand-font--display-5-font-weight-mobile: 400;
  --mdt-brand-font--display-5-font-letter-spacing-mobile: 0;
  --mdt-brand-font--display-5-font-line-height-mobile: 56px;
  --mdt-brand-font--display-4-font-family: "HamburgSud Headline", Arial, sans-serif;
  --mdt-brand-font--display-4-font-size: 50px;
  --mdt-brand-font--display-4-font-style: normal;
  --mdt-brand-font--display-4-font-weight: 400;
  --mdt-brand-font--display-4-font-letter-spacing: 0;
  --mdt-brand-font--display-4-font-line-height: 56px;
  --mdt-brand-font--display-4-font-family-mobile: "HamburgSud Headline", Arial, sans-serif;
  --mdt-brand-font--display-4-font-size-mobile: 38px;
  --mdt-brand-font--display-4-font-style-mobile: normal;
  --mdt-brand-font--display-4-font-weight-mobile: 400;
  --mdt-brand-font--display-4-font-letter-spacing-mobile: 0;
  --mdt-brand-font--display-4-font-line-height-mobile: 38px;
  --mdt-brand-font--display-3-font-family: "HamburgSud Headline", Arial, sans-serif;
  --mdt-brand-font--display-3-font-size: 40px;
  --mdt-brand-font--display-3-font-style: normal;
  --mdt-brand-font--display-3-font-weight: 400;
  --mdt-brand-font--display-3-font-letter-spacing: 0;
  --mdt-brand-font--display-3-font-line-height: 40px;
  --mdt-brand-font--display-3-font-family-mobile: "HamburgSud Headline", Arial, sans-serif;
  --mdt-brand-font--display-3-font-size-mobile: 26px;
  --mdt-brand-font--display-3-font-style-mobile: normal;
  --mdt-brand-font--display-3-font-weight-mobile: 400;
  --mdt-brand-font--display-3-font-letter-spacing-mobile: 0;
  --mdt-brand-font--display-3-font-line-height-mobile: 32px;
  --mdt-brand-font--display-2-font-family: "HamburgSud Headline", Arial, sans-serif;
  --mdt-brand-font--display-2-font-size: 26px;
  --mdt-brand-font--display-2-font-style: normal;
  --mdt-brand-font--display-2-font-weight: 400;
  --mdt-brand-font--display-2-font-letter-spacing: 0;
  --mdt-brand-font--display-2-font-line-height: 32px;
  --mdt-brand-font--display-2-font-family-mobile: "HamburgSud Headline", Arial, sans-serif;
  --mdt-brand-font--display-2-font-size-mobile: 22px;
  --mdt-brand-font--display-2-font-style-mobile: normal;
  --mdt-brand-font--display-2-font-weight-mobile: 400;
  --mdt-brand-font--display-2-font-letter-spacing-mobile: 0;
  --mdt-brand-font--display-2-font-line-height-mobile: 26px;
  --mdt-brand-font--display-1-font-family: "HamburgSud Headline", Arial, sans-serif;
  --mdt-brand-font--display-1-font-size: 20px;
  --mdt-brand-font--display-1-font-style: normal;
  --mdt-brand-font--display-1-font-weight: 400;
  --mdt-brand-font--display-1-font-letter-spacing: 0;
  --mdt-brand-font--display-1-font-line-height: 24px;
  --mdt-brand-font--display-1-font-family-mobile: "HamburgSud Headline", Arial, sans-serif;
  --mdt-brand-font--display-1-font-size-mobile: 20px;
  --mdt-brand-font--display-1-font-style-mobile: normal;
  --mdt-brand-font--display-1-font-weight-mobile: 400;
  --mdt-brand-font--display-1-font-letter-spacing-mobile: 0;
  --mdt-brand-font--display-1-font-line-height-mobile: 24px;
  --mdt-brand-font--default-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--default-font-size: 16px;
  --mdt-brand-font--default-font-style: normal;
  --mdt-brand-font--default-font-weight: 400;
  --mdt-brand-font--default-font-letter-spacing: 0;
  --mdt-brand-font--default-font-line-height: 24px;
  --mdt-brand-font--default--bold-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--default--bold-font-size: 16px;
  --mdt-brand-font--default--bold-font-style: normal;
  --mdt-brand-font--default--bold-font-weight: 700;
  --mdt-brand-font--default--bold-font-letter-spacing: 0;
  --mdt-brand-font--default--bold-font-line-height: 24px;
  --mdt-brand-font--default--italic-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--default--italic-font-size: 16px;
  --mdt-brand-font--default--italic-font-style: italic;
  --mdt-brand-font--default--italic-font-weight: 400;
  --mdt-brand-font--default--italic-font-letter-spacing: 0;
  --mdt-brand-font--default--italic-font-line-height: 24px;
  --mdt-brand-font--default--bolditalic-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--default--bolditalic-font-size: 16px;
  --mdt-brand-font--default--bolditalic-font-style: italic;
  --mdt-brand-font--default--bolditalic-font-weight: 700;
  --mdt-brand-font--default--bolditalic-font-letter-spacing: 0;
  --mdt-brand-font--default--bolditalic-font-line-height: 24px;
  --mdt-brand-font--small-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--small-font-size: 14px;
  --mdt-brand-font--small-font-style: normal;
  --mdt-brand-font--small-font-weight: 400;
  --mdt-brand-font--small-font-letter-spacing: 0;
  --mdt-brand-font--small-font-line-height: 20px;
  --mdt-brand-font--small--bold-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--small--bold-font-size: 14px;
  --mdt-brand-font--small--bold-font-style: normal;
  --mdt-brand-font--small--bold-font-weight: 700;
  --mdt-brand-font--small--bold-font-letter-spacing: 0;
  --mdt-brand-font--small--bold-font-line-height: 20px;
  --mdt-brand-font--small--italic-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--small--italic-font-size: 14px;
  --mdt-brand-font--small--italic-font-style: italic;
  --mdt-brand-font--small--italic-font-weight: 400;
  --mdt-brand-font--small--italic-font-letter-spacing: 0;
  --mdt-brand-font--small--italic-font-line-height: 20px;
  --mdt-brand-font--small--bolditalic-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--small--bolditalic-font-size: 14px;
  --mdt-brand-font--small--bolditalic-font-style: italic;
  --mdt-brand-font--small--bolditalic-font-weight: 700;
  --mdt-brand-font--small--bolditalic-font-letter-spacing: 0;
  --mdt-brand-font--small--bolditalic-font-line-height: 20px;
  --mdt-brand-font--x-small-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--x-small-font-size: 12px;
  --mdt-brand-font--x-small-font-style: normal;
  --mdt-brand-font--x-small-font-weight: 400;
  --mdt-brand-font--x-small-font-letter-spacing: 0;
  --mdt-brand-font--x-small-font-line-height: 16px;
  --mdt-brand-font--x-small--bold-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--x-small--bold-font-size: 12px;
  --mdt-brand-font--x-small--bold-font-style: normal;
  --mdt-brand-font--x-small--bold-font-weight: 700;
  --mdt-brand-font--x-small--bold-font-letter-spacing: 0;
  --mdt-brand-font--x-small--bold-font-line-height: 16px;
  --mdt-brand-font--x-small--italic-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--x-small--italic-font-size: 12px;
  --mdt-brand-font--x-small--italic-font-style: italic;
  --mdt-brand-font--x-small--italic-font-weight: 400;
  --mdt-brand-font--x-small--italic-font-letter-spacing: 0;
  --mdt-brand-font--x-small--italic-font-line-height: 16px;
  --mdt-brand-font--x-small--bolditalic-font-family: "HamburgSud Text", Arial, sans-serif;
  --mdt-brand-font--x-small--bolditalic-font-size: 12px;
  --mdt-brand-font--x-small--bolditalic-font-style: italic;
  --mdt-brand-font--x-small--bolditalic-font-weight: 700;
  --mdt-brand-font--x-small--bolditalic-font-letter-spacing: 0;
  --mdt-brand-font--x-small--bolditalic-font-line-height: 16px;
}
.appearance--light_default, :root {
  --mdt-theme-accordion-background-color: rgb(234, 234, 234);
  --mdt-theme-accordion-background-color-surface: rgb(255, 255, 255);
  --mdt-theme-accordion-title-text-color: rgb(53, 53, 53);
  --mdt-theme-accordion-content-text-color: rgb(53, 53, 53);
  --mdt-theme-accordion-border: rgb(219, 219, 219);
  --mdt-theme-filled: rgb(206, 19, 29);
  --mdt-theme-on-filled: rgb(255, 255, 255);
  --mdt-theme-border-filled: rgba(0, 0, 0, 0);
  --mdt-theme-filled-hover: rgb(177, 31, 22);
  --mdt-theme-on-filled-hover: rgb(255, 255, 255);
  --mdt-theme-border-filled-hover: rgba(0, 0, 0, 0);
  --mdt-theme-filled-active: rgb(159, 16, 19);
  --mdt-theme-on-filled-active: rgb(255, 255, 255);
  --mdt-theme-border-filled-active: rgba(0, 0, 0, 0);
  --mdt-theme-filled-disabled: rgb(196, 196, 196);
  --mdt-theme-on-filled-disabled: rgb(255, 255, 255);
  --mdt-theme-border-filled-disabled: rgba(0, 0, 0, 0);
  --mdt-theme-filled-focus: rgb(148, 176, 222);
  --mdt-theme-filled-alt: rgb(206, 19, 29);
  --mdt-theme-on-filled-alt: rgb(255, 255, 255);
  --mdt-theme-border-filled-alt: rgb(222, 222, 222);
  --mdt-theme-filled-alt-hover: rgb(177, 31, 22);
  --mdt-theme-on-filled-alt-hover: rgb(255, 255, 255);
  --mdt-theme-border-filled-alt-hover: rgb(222, 222, 222);
  --mdt-theme-filled-alt-active: rgb(159, 16, 19);
  --mdt-theme-on-filled-alt-active: rgb(255, 255, 255);
  --mdt-theme-border-filled-alt-active: rgb(222, 222, 222);
  --mdt-theme-filled-alt-disabled: rgb(196, 196, 196);
  --mdt-theme-on-filled-alt-disabled: rgb(255, 255, 255);
  --mdt-theme-border-filled-alt-disabled: rgba(222, 222, 222, 0.5);
  --mdt-theme-filled-alt-focus: rgb(148, 176, 222);
  --mdt-theme-outlined: rgb(255, 255, 255);
  --mdt-theme-on-outlined: rgb(53, 53, 53);
  --mdt-theme-border-outlined: rgb(103, 103, 103);
  --mdt-theme-outlined-hover: rgb(234, 234, 234);
  --mdt-theme-on-outlined-hover: rgb(53, 53, 53);
  --mdt-theme-border-outlined-hover: rgb(103, 103, 103);
  --mdt-theme-outlined-active: rgb(222, 222, 222);
  --mdt-theme-on-outlined-active: rgb(53, 53, 53);
  --mdt-theme-border-outlined-active: rgb(103, 103, 103);
  --mdt-theme-outlined-disabled: rgba(255, 255, 255, 0.5);
  --mdt-theme-on-outlined-disabled: rgba(53, 53, 53, 0.5);
  --mdt-theme-border-outlined-disabled: rgba(103, 103, 103, 0.5);
  --mdt-theme-outlined-focus: rgb(148, 176, 222);
  --mdt-theme-primary-inverse: rgb(255, 255, 255);
  --mdt-theme-on-primary-inverse: rgb(177, 31, 22);
  --mdt-theme-border-primary-inverse: rgb(255, 255, 255);
  --mdt-theme-primary-inverse-hover: rgba(255, 255, 255, 0.8);
  --mdt-theme-on-primary-inverse-hover: rgb(177, 31, 22);
  --mdt-theme-border-primary-inverse-hover: rgb(255, 255, 255);
  --mdt-theme-primary-inverse-active: rgba(255, 255, 255, 0.9);
  --mdt-theme-on-primary-inverse-active: rgb(177, 31, 22);
  --mdt-theme-border-primary-inverse-active: rgb(255, 255, 255);
  --mdt-theme-primary-inverse-disabled: rgba(255, 255, 255, 0.5);
  --mdt-theme-on-primary-inverse-disabled: rgb(177, 31, 22);
  --mdt-theme-border-primary-inverse-disabled: rgba(255, 255, 255, 0.5);
  --mdt-theme-primary-inverse-focus: rgb(148, 176, 222);
  --mdt-theme-secondary-inverse: rgba(0, 0, 0, 0);
  --mdt-theme-on-secondary-inverse: rgb(255, 255, 255);
  --mdt-theme-border-secondary-inverse: rgb(255, 255, 255);
  --mdt-theme-secondary-inverse-hover: rgba(255, 255, 255, 0.2);
  --mdt-theme-on-secondary-inverse-hover: rgb(255, 255, 255);
  --mdt-theme-border-secondary-inverse-hover: rgb(255, 255, 255);
  --mdt-theme-secondary-inverse-active: rgba(255, 255, 255, 0.1);
  --mdt-theme-on-secondary-inverse-active: rgb(255, 255, 255);
  --mdt-theme-border-secondary-inverse-active: rgb(255, 255, 255);
  --mdt-theme-secondary-inverse-disabled: rgba(0, 0, 0, 0);
  --mdt-theme-on-secondary-inverse-disabled: rgba(255, 255, 255, 0.5);
  --mdt-theme-border-secondary-inverse-disabled: rgba(255, 255, 255, 0.5);
  --mdt-theme-secondary-inverse-focus: rgb(148, 176, 222);
  --mdt-theme-on-plain-alt: rgb(137, 11, 8);
  --mdt-theme-on-plain-alt-hover: rgb(137, 11, 8);
  --mdt-theme-on-plain-alt-active: rgb(137, 11, 8);
  --mdt-theme-calendar-border: rgb(222, 222, 222);
  --mdt-theme-calendar-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03), 0 1px 18px 0 rgba(0, 0, 0, 0.03), 0 3px 5px -1px rgba(0, 0, 0, 0.04);
  --mdt-theme-calendar-today-font-color: rgb(137, 11, 8);
  --mdt-theme-icon-color: rgb(48, 48, 48);
  --mdt-theme-input: rgb(255, 255, 255);
  --mdt-theme-input-checked: rgb(206, 19, 29);
  --mdt-theme-input-checked-disabled: rgb(247, 247, 247);
  --mdt-theme-input-checkbox-checked: rgb(206, 19, 29);
  --mdt-theme-input-checked-hover: rgb(177, 31, 22);
  --mdt-theme-input-invalid: rgb(235, 20, 42);
  --mdt-theme-input-disabled: rgb(247, 247, 247);
  --mdt-theme-input-icon: rgb(103, 103, 103);
  --mdt-theme-select-icon: rgb(87, 86, 86);
  --mdt-theme-input-icon-disabled: rgb(196, 196, 196);
  --mdt-theme-on-input: rgb(53, 53, 53);
  --mdt-theme-on-input-checked: rgb(255, 255, 255);
  --mdt-theme-on-input-invalid: rgb(255, 255, 255);
  --mdt-theme-on-input-disabled: rgb(222, 222, 222);
  --mdt-theme-on-input-placeholder: rgb(196, 196, 196);
  --mdt-theme-border-input: rgb(196, 196, 196);
  --mdt-theme-border-input-checked: rgb(206, 19, 29);
  --mdt-theme-border-input-checked-hover: rgba(0, 0, 0, 0);
  --mdt-theme-border-input-checked-focus: rgb(177, 31, 22);
  --mdt-theme-border-input-invalid: rgb(235, 20, 42);
  --mdt-theme-border-input-invalid-focus: rgb(235, 20, 42);
  --mdt-theme-border-input-disabled: rgb(222, 222, 222);
  --mdt-theme-border-input-hover: rgb(103, 103, 103);
  --mdt-theme-border-input-active: rgb(103, 103, 103);
  --mdt-theme-border-input-focus: rgb(103, 103, 103);
  --mdt-theme-checkmark-input-checked: rgb(255, 255, 255);
  --mdt-theme-checkmark-input-checked-hover: rgb(255, 255, 255);
  --mdt-theme-checkmark-input-checked-invalid: rgb(235, 20, 42);
  --mdt-theme-checkmark-input-checked-invalid-hover: rgb(235, 20, 42);
  --mdt-theme-checkmark-input-disabled: rgb(196, 196, 196);
  --mdt-theme-switch-track-unchecked: rgb(196, 196, 196);
  --mdt-theme-background-input-hover: rgb(234, 234, 234);
  --mdt-theme-background-input-active: rgb(222, 222, 222);
  --mdt-theme-background-input-invalid: rgb(255, 255, 255);
  --mdt-theme-background-input-invalid-hover: rgb(234, 234, 234);
  --mdt-theme-list-item-text: rgb(53, 53, 53);
  --mdt-theme-list-item-text-secondary: rgb(87, 86, 86);
  --mdt-theme-list-item-text-hover: rgb(53, 53, 53);
  --mdt-theme-list-item-text-activated: rgb(255, 255, 255);
  --mdt-theme-list-item-text-disabled: rgb(103, 103, 103);
  --mdt-theme-list-item-background: rgb(255, 255, 255);
  --mdt-theme-list-item-background-hover: rgb(234, 234, 234);
  --mdt-theme-list-item-background-activated: rgb(206, 19, 29);
  --mdt-theme-list-item-background-disabled: rgb(255, 255, 255);
  --mdt-theme-list-border: rgb(222, 222, 222);
  --mdt-theme-list-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03), 0 1px 18px 0 rgba(0, 0, 0, 0.03), 0 3px 5px -1px rgba(0, 0, 0, 0.04);
  --mdt-theme-loading-text-color--default: rgb(48, 48, 48);
  --mdt-theme-loading--default: rgb(247, 247, 247);
  --mdt-theme-on-loading--default: rgb(206, 19, 29);
  --mdt-theme-loading-text-color--inverse: rgb(255, 255, 255);
  --mdt-theme-loading--inverse: rgba(255, 255, 255, 0.15);
  --mdt-theme-on-loading--inverse: rgb(255, 255, 255);
  --mdt-theme-background-color-scrim: rgba(48, 48, 48, 0.8);
  --mdt-theme-background-color-surface: rgb(255, 255, 255);
  --mdt-theme-background-color-footer: rgb(234, 234, 234);
  --mdt-theme-shadow-surface: 0 3px 5px -1px rgba(0, 0, 0, 0.04), 0 1px 18px rgba(0, 0, 0, 0.03), 0 6px 10px rgba(0, 0, 0, 0.03);
  --mdt-theme-border-color-step-indicator: rgb(234, 234, 234);
  --mdt-theme-color-border-step-indicator-completed: rgb(206, 19, 29);
  --mdt-theme-color-border-step-indicator-active: rgb(206, 19, 29);
  --mdt-theme-color-step-indicator-step-icon: rgb(255, 255, 255);
  --mdt-theme-color-step-indicator-step-label: inherit;
  --mdt-theme-color-background-step-indicator-icon: rgb(206, 19, 29);
  --mdt-theme-color-background-step-indicator-icon-active: transparent;
  --mdt-theme-border-color-switch-group-item: rgb(234, 234, 234);
  --mdt-theme-tab-underline: rgb(234, 234, 234);
  --mdt-theme-tab-filled: transparent;
  --mdt-theme-tab-filled-active: rgb(206, 19, 29);
  --mdt-theme-table--header-background: rgb(255, 255, 255);
  --mdt-theme-table--alt-row-background: rgb(255, 255, 255);
  --mdt-theme-table--row-hover: rgb(233, 246, 252);
  --mdt-theme-table--caption-color: rgb(87, 86, 86);
  --mdt-theme-tag--default: rgb(234, 234, 234);
  --mdt-theme-color-background-tooltip--default: rgb(255, 255, 255);
  --mdt-theme-color-background-tooltip--inverse: rgb(53, 53, 53);
  --mdt-theme-color-border-tooltip--default: rgb(234, 234, 234);
  --mdt-theme-color-border-tooltip--inverse: rgb(53, 53, 53);
  --mdt-theme-color-tooltip--default: rgba(114, 114, 114, 1);
  --mdt-theme-color-tooltip--inverse: rgb(255, 255, 255);
  --mdt-theme-box-shadow-tooltip--default: 0 3px 5px -1px rgba(0, 0, 0, 0.04), 0 1px 18px rgba(0, 0, 0, 0.03), 0 6px 10px rgba(0, 0, 0, 0.03);
  --mdt-theme-box-shadow-tooltip--inverse: transparent;
  --mdt-theme-background-color: rgb(255, 255, 255);
  --mdt-theme-background-color--default: rgb(255, 255, 255);
  --mdt-theme-background-color--alt: rgb(234, 234, 234);
  --mdt-theme-background-color--inverse: rgb(206, 19, 29);
  --mdt-theme-on-background-color--inverse: rgb(255, 255, 255);
  --mdt-theme-background-color-alt: rgb(255, 255, 255);
  --mdt-theme-background-color-info: rgb(191, 208, 235);
  --mdt-theme-foreground-color-info: rgb(48, 48, 48);
  --mdt-theme-background-color-success: rgb(195, 233, 191);
  --mdt-theme-foreground-color-success: rgb(48, 48, 48);
  --mdt-theme-background-color-warning: rgb(253, 221, 181);
  --mdt-theme-foreground-color-warning: rgb(48, 48, 48);
  --mdt-theme-background-color-error: rgb(248, 172, 181);
  --mdt-theme-foreground-color-error: rgb(48, 48, 48);
  --mdt-theme-on-background-color: rgb(48, 48, 48);
  --mdt-theme-on-background-color-hint: rgb(103, 103, 103);
  --mdt-theme-on-background-color-link: rgb(200, 13, 18);
  --mdt-theme-on-background-color-link-hover: rgb(255, 0, 0);
  --mdt-theme-on-background-color-invalid: rgb(235, 20, 42);
  --mdt-theme-border-color: rgb(222, 222, 222);
  --mdt-theme-table-header-background-color: rgb(255, 255, 255);
  --mdt-theme-table-on-header-background-color: rgb(48, 48, 48);
  --mdt-theme-shadow-focus: rgb(148, 176, 222);
  --mdt-theme-shadow-invalid-focus: rgb(248, 172, 181);
  --mdt-theme--info: rgb(191, 208, 235);
  --mdt-theme--success: rgb(195, 233, 191);
  --mdt-theme--warning: rgb(253, 221, 181);
  --mdt-theme--error: rgb(248, 172, 181);
  --mdt-theme-action-card-padding: 24px;
  --mdt-theme-hero-border-radius: 4px;
  --mdt-theme-hero-cell-height-xs: 250px;
  --mdt-theme-hero-cell-height-sm: 400px;
  --mdt-theme-hero-xl-cell-height-sm: 560px;
  --mdt-theme-hero-xl-cell-height-md: 650px;
  --mdt-theme-hero-xl-cell-height-lg: 650px;
  --mdt-theme-media-image-video-icon-border: 0;
  --mdt-theme-media-image-video-icon-border-radius: 5px;
  --mdt-theme-media-image-video-icon-background-color: rgba(203, 233, 255, 0.3);
  --mdt-theme-media-image-video-icon-width: 64px;
  --mdt-theme-media-image-video-icon-height: 40px;
  --mdt-theme-palette-primary-600: rgb(137, 11, 8);
  --mdt-theme-palette-primary-500: rgb(159, 16, 19);
  --mdt-theme-palette-primary-400: rgb(177, 31, 22);
  --mdt-theme-palette-primary-300: rgb(206, 19, 29);
  --mdt-theme-palette-primary-200: rgb(226, 0, 12);
  --mdt-theme-palette-primary-100: rgb(255, 0, 14);
  --mdt-theme-palette-functional-transparent: rgba(0, 0, 0, 0);
  --mdt-theme-palette-functional-900: rgb(48, 48, 48);
  --mdt-theme-palette-functional-800: rgb(53, 53, 53);
  --mdt-theme-palette-functional-700: rgb(87, 86, 86);
  --mdt-theme-palette-functional-600: rgb(103, 103, 103);
  --mdt-theme-palette-functional-500: rgb(196, 196, 196);
  --mdt-theme-palette-functional-400: rgb(222, 222, 222);
  --mdt-theme-palette-functional-300: rgb(234, 234, 234);
  --mdt-theme-palette-functional-200: rgb(247, 247, 247);
  --mdt-theme-palette-functional-100: rgb(255, 255, 255);
  --mdt-theme-palette-functional-50: rgb(255, 255, 255);
  --mdt-theme-palette-functional-focus: rgb(148, 176, 222);
  --mdt-theme-palette-functional-invalid-focus: rgba(247, 49, 60, 0.4);
  --mdt-theme-palette-feedback-danger-dark: rgb(235, 20, 42);
  --mdt-theme-palette-feedback-danger-light: rgb(248, 172, 181);
  --mdt-theme-palette-feedback-warning-dark: rgb(209, 131, 47);
  --mdt-theme-palette-feedback-warning-light: rgb(253, 221, 181);
  --mdt-theme-palette-feedback-success-dark: rgb(19, 138, 8);
  --mdt-theme-palette-feedback-success-light: rgb(195, 233, 191);
  --mdt-theme-palette-feedback-info-dark: rgb(49, 106, 197);
  --mdt-theme-palette-feedback-info-light: rgb(191, 208, 235);
  --mdt-theme-palette-primary-800: rgb(0, 61, 109);
  --mdt-theme-palette-functional-300-gray: rgb(219, 219, 219);
  --mdt-theme-box-shadow-1: 0 1px 1px 0 rgba(0, 0, 0, 0.03), 0 2px 1px -1px rgba(0, 0, 0, 0.03), 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-2: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-3: 0 3px 4px 0 rgba(0, 0, 0, 0.03), 0 3px 3px -2px rgba(0, 0, 0, 0.03), 0 1px 8px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-4: 0 6px 10px 0 rgba(0, 0, 0, 0.03), 0 1px 18px 0 rgba(0, 0, 0, 0.03), 0 3px 5px -1px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-5: 0 8px 10px 1px rgba(0, 0, 0, 0.03), 0 3px 14px 2px rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-6: 0 9px 12px 1px rgba(0, 0, 0, 0.03), 0 3px 16px 2px rgba(0, 0, 0, 0.03), 0 5px 6px -3px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-7: 0 12px 17px 2px rgba(0, 0, 0, 0.03), 0 5px 22px 4px rgba(0, 0, 0, 0.03), 0 7px 8px -4px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-8: 0 16px 24px 2px rgba(0, 0, 0, 0.03), 0 6px 30px 5px rgba(0, 0, 0, 0.03), 0 8px 10px -5px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-9: 0 24px 38px 3px rgba(0, 0, 0, 0.03), 0 9px 46px 8px rgba(0, 0, 0, 0.03), 0 11px 15px -7px rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-xs: 0 1px 1px 0 rgba(0, 0, 0, 0.03), 0 2px 1px -1px rgba(0, 0, 0, 0.03), 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-s: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-m: 0 3px 4px 0 rgba(0, 0, 0, 0.03), 0 3px 3px -2px rgba(0, 0, 0, 0.03), 0 1px 8px 0 rgba(0, 0, 0, 0.04);
  --mdt-theme-box-shadow-l: 0 6px 10px 0 rgba(0, 0, 0, 0.03), 0 1px 18px 0 rgba(0, 0, 0, 0.03), 0 3px 5px -1px rgba(0, 0, 0, 0.04);
}
